.bradcam_bg_1 {
  background-image: url(../img/banner/bradcam_bg_1.jpg);
}
.bradcam_bg_2 {
  background-image: url(../img/banner/bradcam_bg_2.jpg);
}
.breadcrumb_area {
  margin-top: 140px;
  &.style2 {
    margin-top: 80px;
    .breadcrumb_iner {
      height: 600px;
      @media #{$tab} {
        height: 400px;
      }
    }
  }
  .breadcrumb_iner {
    height: 360px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;
    justify-content: center;
    text-align: center;
    .bradcam_text {
      max-width: 470px;
      span {
        font-size: 30px;
        font-weight: 900;
        color: $secondary_color;
        @media #{$tab} {
          font-size: 25px;
        }
      }
      h3 {
        font-size: 30px;
        font-weight: 700;
        color: $primary_color;
        font-family: $font1;
        line-height: 1.33;
        margin-bottom: 0;
        @media #{$tab} {
          font-size: 25px;
        }
      }
    }
  }
}
