.infix_primary_input {
  height: 60px;
  border-radius: 5px;
  border: 1px solid #eaeef0;
  font-family: $font1;
  font-size: 14px;
  font-weight: 500;
  color: $primary_color;
  padding: 15px 30px;
  width: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  &.style2 {
    border: 5px 0 0 5px;
    padding: 15px 20px;
  }
  &.style3 {
    padding: 15px 20px;
    height: 50px;
  }
  &::placeholder {
    font-size: 14px;
    color: #676e8b;
    font-weight: 500;
  }
}

.primary_input {
  height: 50px;
  border-radius: 0px;
  border: 1px solid#f5f5f5;
  font-family: $font1;
  font-size: 14px;
  font-weight: 400;
  color: $primary_color;
  padding: 15px 20px;
  width: 100%;
  &::placeholder {
    color: #676e8b;
  }
}
.primary_input3 {
  height: 50px;
  border: 1px solid #f5f5f5;
  font-family: $font1;
  font-size: 14px;
  font-weight: 400;
  color: $primary_color;
  padding: 15px 20px;
  width: 100%;
  box-shadow: none !important;
  &.border_style2 {
    border: 1px solid#e1e2e6;
  }
  &::placeholder {
    color: $body_text2;
  }
}
.primary_input4 {
  height: 50px;
  border: 1px solid #ebebeb;
  font-family: $font1;
  font-size: 14px;
  font-weight: 400;
  color: $primary_color;
  padding: 15px 20px;
  width: 100%;
  background: transparent;
  &::placeholder {
    color: #676e8b;
  }
}
.primary_input2 {
  height: 60px;
  border-radius: 0px;
  border: 0;
  border-bottom: 1px solid #ebebeb;
  font-family: $font1;
  font-size: 16px;
  font-weight: 300;
  color: $primary_color;
  padding: 0px 25px 25px 0;
  width: 100%;
  &::placeholder {
    font-size: 16px;
    color: #677294;
    text-transform: capitalize;
  }
}

.custom_input_group {
  height: 50px;
  .input-group-prepend {
    .input-group-text {
      min-width: 242px;
      max-width: 242px;
      background: #395799;
      border: 0;
      border-radius: 0;
      padding-left: 30px;
      padding-right: 24px;
      @media #{$tab} {
        min-width: 40px;
        max-width: 40px;
        flex: 40px 0 0;
        padding-left: 20px;
        padding-right: 35px;
        width: 40px;
      }
      &.twitter_bg {
        background: #1babf0;
      }
      &.linkedin_bg {
        background: #dd5143;
      }
      &.youtube_bg {
        background: #ff0000;
      }
      i {
        font-size: 16px;
        color: #fff;
        margin-right: 14px;
      }
      span {
        font-size: 16px;
        font-weight: 600;
        font-family: $font1;
        color: #fff;
        @media #{$tab} {
          display: none;
        }
      }
    }
  }
  input {
    height: 50px;
    border: 1px solid #ebebeb !important;
    font-family: $font1;
    font-size: 14px;
    font-weight: 400;
    color: $primary_color;
    padding: 15px 20px;
    background: transparent !important ;
    box-shadow: none !important;
    border-radius: 0 !important;
    &::placeholder {
      color: #676e8b;
    }
  }
}
.primary_textarea {
  height: 100px;
  border-radius: 0px;
  border: 1px solid #f5f5f5;
  font-family: $font1;
  font-size: 14px;
  font-weight: 400;
  color: $primary_color;
  padding: 15px 20px;
  width: 100%;
  outline: none !important;
  resize: none;
  &.height_120 {
    height: 120px;
  }
  &::placeholder {
    color: #676e8b;
  }
}
.primary_textarea3 {
  height: 160px;
  border: 1px solid #ebebeb;
  font-family: $font1;
  font-size: 14px;
  font-weight: 400;
  color: $primary_color;
  padding: 15px 20px;
  width: 100%;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #686868;
  }
}
.primary_textarea4 {
  height: 120px;
  border: 1px solid #ebebeb;
  font-family: $font1;
  font-size: 14px;
  font-weight: 400;
  color: $primary_color;
  padding: 15px 20px;
  width: 100%;
  background: transparent;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: #686868;
  }
}
.primary_label {
  font-size: 14px;
  font-weight: 500;
  color: $primary_color;
  display: block;
  margin-bottom: 11px;
  line-height: 1;
}
.primary_label2 {
  font-family: $font1;
  font-size: 14px;
  font-weight: 700;
  color: $primary_color;
  display: block;
  margin-bottom: 14px;
  line-height: 1;
  span {
    color: #ff1919;
  }
}
.primary_textarea2 {
  height: 130px;
  border-radius: 0px;
  border: 0;
  border-bottom: 1px solid #f0e7e2;
  font-family: $font1;
  font-size: 16px;
  font-weight: 300;
  color: $primary_color;
  padding: 3px 25px 0 0;
  width: 100%;
  &::placeholder {
    font-size: 14px;
    color: #677294;
    text-transform: capitalize;
  }
}

.primary_line_input {
  height: 50px;
  border-radius: 0px;
  border: 0;
  border-bottom: 1px solid rgba(104, 112, 131, 0.2);
  font-family: $font1;
  font-size: 14px;
  font-weight: 500;
  color: $primary_color;
  padding: 10px 0px;
  width: 100%;
  box-shadow: none !important;
  &.style2 {
    font-weight: 400;
    border-color: #f1f1f1;
    &::placeholder {
      font-size: 14px;
      color: #373737;
      text-transform: capitalize;
      font-weight: 400;
    }
  }
  &.style3 {
    font-weight: 400;
    color: $primary_color;
    font-weight: 500;
    &::placeholder {
      font-size: 14px;
      color: #9d9d9d;
      text-transform: capitalize;
      font-weight: 500;
    }
  }
  &::placeholder {
    font-size: 14px;
    color: #afafaf;
    text-transform: capitalize;
    font-weight: 500;
  }
}
.primary_line_textarea {
  height: 120px;
  border-radius: 0px;
  border: 0;
  border-bottom: 1px solid#ebebeb;
  font-family: $font1;
  font-size: 14px;
  font-weight: 400;
  color: $primary_color;
  padding: 15px 0px;
  width: 100%;
  resize: none;
  box-shadow: none !important;
  &.style2 {
    font-weight: 400;
    border-color: #f1f1f1;
    &::placeholder {
      font-size: 14px;
      color: #373737;
      text-transform: capitalize;
      font-weight: 400;
    }
    &:focus {
      outline: none;
    }
  }
  &.style3 {
    font-weight: 500;
    border-bottom: 1px solid rgba(104, 112, 131, 0.2);
    color: $primary_color;
    &::placeholder {
      font-size: 14px;
      color: #9d9d9d;
      text-transform: capitalize;
      font-weight: 500;
    }
    &:focus {
      outline: none;
    }
  }
  &::placeholder {
    font-size: 14px;
    color: #676e8b;
    text-transform: capitalize;
  }
}
// contact_section
.contact_section {
  padding: 135px 0 110px 0;
  @media #{$tab} {
    padding: 70px 0 40px 0;
  }
  .home10_title {
    margin-bottom: 76px;
    @media #{$tab} {
      margin-bottom: 40px;
    }
    p {
      font-size: 14px;
      color: #373737;
      margin-bottom: 11px;
    }
    h3 {
      line-height: 1.25;
    }
  }
  .contact_title {
    span {
      margin-bottom: 20px;
      color: #373737;
    }
    h4 {
      font-size: 30px;
      font-weight: 700;
      color: $primary_color;
      @media #{$tab} {
        font-size: 25px;
      }
    }
  }
  .address_lines {
    .single_address_line {
      display: grid;
      grid-template-columns: 71px auto;
      grid-gap: 20px;
      margin-bottom: 23px;
      align-items: flex-start;
      span {
        font-size: 16px;
        font-weight: 700;
        color: $primary_color;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        color: #676e8b;
      }
    }
  }
  .contact_form_box {
    .contact_title {
      margin-bottom: 29px;
    }
  }
  .contact_address {
    padding-top: 105px;
    @media #{$tab} {
      padding-top: 40px;
    }
  }
}

.contact_map {
  padding: 0;
  @media #{$min_large} {
    margin-right: 50px;
  }
  #contact-map {
    height: 500px;
    @media #{$tab} {
      height: 400px;
    }
  }
}

.contact_wiz_box {
  .icon {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
    }
  }
  h4 {
    font-size: 24px;
    font-weight: 500;
    color: $primary_color;
    margin: 28px 0 13px 0;
  }
  p {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #373737;
    margin-bottom: 0;
    font-family: $font1;
  }
  .contact_link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    a {
      font-size: 20px;
      color: #d6d6d6;
      &:hover {
        color: $secondary_color;
      }
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}
