.download_bg_1 {
  @include background("../img/home_1/downloadBg.jpg", center center, no-repeat);
}

.infix_download_area {
  padding: 286px 0 278px 0;
  &.style2 {
    padding: 177px 0 176px 0;
    @media #{$tab} {
      padding: 100px 0 100px 0;
    }
    .section__title p {
      margin: 0 0 45px;
    }
  }
  @media #{$tab} {
    padding: 100px 0 100px 0;
  }
  .section__title {
    .sub_heading {
      margin-bottom: 20px;
    }
    p {
      margin: 0 0 41px;
    }
  }
}
.download_btns {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 10px;
  a {
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    background: $secondary_color;
    grid-gap: 14.5px;
    padding: 11px 30px;
    min-width: 215px;
    justify-content: center;
    span {
      font-size: 12px;
      font-weight: 500;
      color: $white;
      text-transform: uppercase;
      margin-bottom: 0;
    }
    h5 {
      font-size: 20px;
      font-weight: 700;
      color: $white;
    }
  }
}
