.faq_banner_area {
  .faq_banner_inner {
    @include background("../img/banner/faq_bg.jpg");
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 131px 15px 140px 15px;
    @media #{$tab} {
      padding: 101px 15px 100px 15px;
    }
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(10, 22, 46, 0.4);
    }
    .faq_banner_text {
      max-width: 570px;
      margin: 0 auto;
      text-align: center;
      h3 {
        font-size: 36px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 20px;
      }
      .theme_search_field {
        background: #fff;
        width: 100%;
      }
    }
  }
}
// faq_area
.faq_area {
  // padding: 0px 0 70px 0;
  // @media #{$tab} {
  //     padding-bottom: 50px;
  // }
  .faq_tab {
    background: #fcfcfc;
    justify-content: center;
    margin-bottom: 65px;
    @media #{$tab} {
      margin-bottom: 45px;
    }
    li {
      a {
        font-size: 14px;
        font-weight: 500;
        color: $primary_color;
        text-transform: uppercase;
        padding: 29.5px 20px;
        position: relative;
        @media #{$tab} {
          padding: 15.5px 15px;
        }
        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          background: #fd1c5e;
          height: 2px;
          width: 100%;
          opacity: 0;
          transition: 0.3s;
        }
        &.active::before,
        &:hover::before {
          opacity: 1;
        }
      }
    }
  }
}
