.infix_feature_area {
  .featuire_thumb {
    @media #{$tab} {
      margin-right: 30px;
    }
    @media #{$medium_device} {
      margin-right: 60px;
    }
    @media #{$lg_device} {
      margin-right: 60px;
    }
    .img-fluid {
      width: 100%;
    }
    .feature_icon {
      width: 120px;
      height: 120px;
      box-shadow: 0 0 30px 0 rgba(127, 50, 253, 0.4);
      background-color: #7f32fd;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      @media #{$tab} {
        width: 60px;
        height: 60px;
        img {
          width: 25px;
        }
      }
    }
  }
  .section__title {
    max-width: 484px;
    &.full_width {
      max-width: 100%;
    }
    p {
      margin: 20px 0 42px 0;
    }
  }
}
