.header_area_one {
  padding: 0px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999;
  background: transparent;
  border-bottom: 1px solid rgba(112, 112, 112, 0.1);
  &.header_static {
    position: relative;
    padding: 0px 35px 0 35px;
    @media #{$small_mobile} {
      padding: 10px 0px;
    }
    @media #{$medium_device} {
      padding: 10px 0px;
    }
  }

  .header_top_area {
    background: #d9d9d9;
    padding: 14.5px 85px;
    @media #{$small_mobile} {
      padding: 14.5px 0px;
    }
    @media #{$large_mobile} {
      padding: 14.5px 0px;
    }
    @media #{$medium_device} {
      padding: 14.5px 20px;
    }
    @media #{$large_xl} {
      padding: 14.5px 30px;
    }
    .header_top_area_wrap {
      display: flex;
      justify-content: space-between;
      @media #{$small_mobile} {
        flex-wrap: wrap;
      }
      .header_top_area_left {
        display: flex;
        align-items: center;
        grid-gap: 30px;
        @media #{$small_mobile} {
          grid-gap: 10px;
          margin-bottom: 5px;
          display: none !important;
        }
        @media #{$large_mobile} {
          grid-gap: 10px;
        }
        p {
          font-size: 13px;
          font-weight: 500;
          color: $white;
          margin-bottom: 0;
          a {
            color: $white;
          }
        }
      }
      .header_top_area_right {
        display: flex;
        align-items: center;
        grid-gap: 30px;
        @media #{$small_mobile} {
          flex: 1 1 auto;
          justify-content: space-between;
        }
        @media #{$tab} {
          grid-gap: 10px;
        }
        p {
          font-size: 13px;
          font-weight: 500;
          color: $white;
          margin-bottom: 0;
          a {
            color: $white;
          }
        }
      }
    }
  }
  .main_header_area {
    padding: 0 0 0 50px;
    @media #{$small_mobile} {
      padding: 0 0 0 15px;
    }
    .shop_header_wrapper {
      .menu_logo {
        // display: none;
      }

      .category_menu {
        @media #{$tab} {
          display: none;
        }
        > a {
          font-size: 16px;
          font-weight: 500;
          box-shadow: none;
          position: relative;
          padding: 29.5px 0 29.5px 32px;
          width: 188px;
          justify-content: space-between;
          display: flex;
          align-items: center;
          color: $primary_color !important;
          cursor: pointer;
          @media #{$tab2} {
            padding: 20.5px 0 20.5px 32px;
          }
          i {
            color: #000000;
            font-size: 10px;
          }
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            height: 12px;
            width: 20px;
            border-bottom: 2px solid #ff324d;
            border-top: 2px solid #ff324d;
            transform: translateY(-50%);
          }
          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            height: 2px;
            width: 20px;
            border-bottom: 2px solid #ff324d;
            transform: translateY(-50%);
          }
        }
        .dropdown_menu {
          margin: 0;
          width: 307px;
          border: 0;
          background-color: #fff;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.04);
          border-radius: 0;
          padding: 0;
          top: 100%;
          position: absolute;
          left: 0;
          opacity: 0;
          visibility: hidden;
          transition: 0.3s;
          &.dropdown_menu_active {
            opacity: 1;
            visibility: visible;
          }
          li {
            position: relative;
            &:hover > a {
              color: $secondary_color !important;
              &:before {
                opacity: 1;
                right: 15px;
              }
            }
            .submenu_list {
              position: absolute;
              left: 110%;
              top: 0;
              width: 100%;
              background: #fff;
              opacity: 0;
              visibility: hidden;
              transition: 0.3s;
              li {
                a {
                  text-transform: capitalize;
                }
              }
            }
            &:hover > ul {
              opacity: 1;
              visibility: visible;
              left: 100%;
            }
          }
          li {
            &:not(:last-child) {
              border-bottom: 1px solid rgba(112, 112, 112, 0.1);
            }
          }
          a {
            padding: 11px 30px 11px 30px;
            font-size: 15px;
            font-weight: 400;
            color: $primary_color;
            line-height: 1.9;
            width: 100%;
            &.has_arrow {
              &::before {
                content: "\e649";
                position: absolute;
                font-size: 14px;
                font-family: "themify";
                font-size: 16px;
                color: $primary_color;
                right: 20px;
                top: 50%;
                transform: translateY(-50%) rotate(0);
                opacity: 1;
                transition: 0.3s;
              }
            }
            i {
              font-size: 14px;
              margin-right: 10px;
            }

            &:hover,
            &.active {
              color: $primary_color;
              background-color: #f8f9fa;
            }
          }
        }
      }
      .offer_tag {
        position: relative;
        padding-left: 60px;
        margin-left: 80px;
        @media #{$tab2} {
          display: none !important;
        }
        @media #{$lg_device} {
          display: none !important;
        }
        @media #{$large_xl} {
          padding-left: 30px;
          margin-left: 40px;
        }
        &::before {
          position: absolute;
          content: "";
          left: 0;
          top: 0;
          background: #f1f1f1;
          width: 1px;
          height: 15px;
          top: 50%;
          transform: translateY(-50%);
        }
        img {
        }
        p {
          display: inline-block;
          font-size: 14px;
          font-weight: 500;
          color: #687083;
          margin-left: 10px;
          a {
            color: #fd1c5e;
          }
        }
      }
    }
  }
  .header__wrapper {
    @include flexbox();
    @include align-items(center);
    @include justify-content(space-between);
    .header__left {
      .logo_img {
        @media #{$tab} {
          margin-left: 40px;
          img {
            max-width: 110px;
          }
        }
        @media #{$lg_device} {
          margin-right: 20px;
        }
      }
    }
  }

  .main_menu {
    margin-left: 70px;
    @media #{$large_xl} {
      margin-left: 25px;
    }
    ul {
      li {
        display: inline-block;
        position: relative;
        &.submenu_active > a {
          // color: $secondary_color;
        }
        a {
          color: $primary_color;
          font-size: 14px;
          font-weight: 600;
          margin: 0px;
          padding: 35px 27px;
          display: inline-block;
          text-transform: capitalize;
          font-family: $font1;
          i {
            font-size: 10px;
            font-weight: 400;
            color: $primary_color;
            margin-left: 5px;
          }
          &:hover,
          &.active {
            color: $secondary_color;
          }
          @media #{$lg_device} {
            padding: 35px 10px;
          }
          @media #{$big_screen} {
            padding: 35px 10px;
          }
          @media #{'only screen and (min-width: 1439px) and (max-width: 1599.98px)'} {
            padding: 35px 15px;
          }
          @media #{'only screen and (min-width: 1600px) and (max-width: 1671.98px)'} {
            padding: 35px 15px;
          }
        }
        // submenu

        .submenu {
          width: 200px;
          position: absolute;
          left: 0;
          top: 120%;
          background: #fff;
          text-align: left;
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.04);
          opacity: 0;
          visibility: hidden;
          @include transition(0.5s);
          &.mega_width_menu {
            width: 800px;
            padding: 30px 0 0px 30px;
            display: flex;
            flex-wrap: wrap;
            @media #{$lg_device} {
              left: -275px;
            }
            .mega_metu_title {
              font-size: 16px;
              font-weight: 600;
              color: #090b17;
              border-bottom: 1px solid #f1f1f1;
              padding-left: 0;
              left: 0 !important;
              padding: 0;
              padding-bottom: 10px;
              margin-bottom: 11px;
            }
            > li {
              flex: 33.33%;
              padding-right: 50px;
              margin-bottom: 40px;
              ul {
                li {
                  padding: 0;
                  a {
                    font-size: 14px;
                    font-weight: 400;
                    color: #676e8b;
                    left: 0 !important;
                    padding: 0;
                    line-height: 31.8px;
                    &:hover {
                      color: $secondary_color;
                    }
                  }
                }
              }
              &.img_menu {
                background-image: url(../img/menu_bg.png);
                background-size: cover;
                background-position: right bottom;
                margin-bottom: 0;
                width: 100% !important;
                flex: 66.33%;
                padding-bottom: 97px;
                h6 {
                  font-size: 12px;
                  font-weight: 500;
                  color: #090b17 !important;
                  text-transform: uppercase;
                  display: block;
                  margin-top: 30px;
                }
                h4 {
                  font-size: 24px;
                  line-height: 1.42;
                  font-weight: 700;
                  margin: 8px 0 11px 0;
                }
                a.shop_now {
                  font-size: 14px;
                  font-weight: 500;
                  display: inline-block;
                  color: $secondary_color;
                  left: 0;
                  padding: 0;
                }
              }
            }
          }
          //## product mega menu style start
          &.product_mega_menu {
            width: 579px;
            padding: 0px 0 0px 0px;
            display: flex;
            flex-wrap: wrap;
            // opacity: 1;
            // visibility: visible;
            @media #{$lg_device} {
              left: -235px;
            }
            .mega_metu_title {
              font-size: 16px;
              font-weight: 700;
              color: $secondary_color;
              padding-left: 0;
              left: 0 !important;
              padding: 0;
              font-family: $font1;
              border: 0;
              margin: 0;
            }
            > li {
              padding: 26px 40px;
              flex: 1 1 auto;
              ul {
                li {
                  padding: 0;
                  a {
                    font-size: 14px;
                    font-weight: 400;
                    color: #687083;
                    left: 0 !important;
                    padding: 0;
                    font-family: $font1;
                    line-height: 2.5;
                    &:hover {
                      color: $secondary_color !important;
                    }
                  }
                }
              }
            }
            .prodict_menu_banner {
              @include background("../img/banner/menu_banner.png");
              position: relative;
              z-index: 0;
              padding: 80px 56px;
              flex: 280px 0 0;
              display: flex;
              justify-content: flex-end;
              align-items: flex-end;
              justify-content: flex-end;
              @media #{$tab2} {
                display: none !important;
              }
              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($secondary_color, 0.6);
                z-index: -1;
              }
              .prodict_menu_banner_inner {
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                p {
                  font-size: 24px;
                  line-height: 1.42;
                  color: $white;
                  margin-bottom: 35px;
                  font-family: $font1;
                  a {
                    color: #fff72b;
                    padding: 0;
                    line-height: inherit;
                    font-weight: 600;
                    font-size: 24px;
                  }
                }
                .menu_prise {
                  width: 100px;
                  height: 100px;
                  border-radius: 50%;
                  background: #ef0000;
                  font-size: 14px;
                  color: #fff;
                  text-transform: uppercase;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  line-height: 1.29;
                  font-family: $font1;
                }
              }
            }
          }
          //## product mega menu style end
          li {
            display: block;
            margin: 0;
            position: relative;
            &:first-child {
              padding-top: 16px;
            }
            &:last-child {
              padding-bottom: 20px;
            }
            a {
              font-size: 14px;
              line-height: 1.2;
              color: $primary_color;
              padding: 0;
              font-weight: 500;
              display: block;
              margin: 0;
              padding: 10px 30px;
              @include transition(0.3s);
              position: relative;
              text-transform: capitalize;
              left: 0;
              &.active,
              &:hover {
                color: $secondary_color;
              }
              &:hover {
                left: 5px;
                color: $secondary_color;
              }
            }
            // new
            &:hover > a {
              color: $secondary_color !important;
            }
            .submenu_list {
              position: absolute;
              left: 110%;
              top: -17px;
              width: 100%;
              background: #fff;
              opacity: 0;
              visibility: hidden;
              transition: 0.3s;
              li {
                a {
                  text-transform: capitalize;
                }
              }
              @media #{$lg_device} {
                left: auto;
                right: 110%;
              }
            }
            &:hover > ul {
              opacity: 1;
              visibility: visible;
              left: 100%;
              @media #{$lg_device} {
                left: auto;
                right: 100%;
              }
            }
            // new
          }
        }
        &:hover {
          > a {
            color: $secondary_color;
          }
          .submenu {
            top: 100%;
            opacity: 1;
            visibility: visible;
          }
          // .full_menu_container {
          //   top: 100%;
          //   opacity: 1;
          //   visibility: visible;
          //   transform: translateY(0px);
          // }
        }
      }
    }
    // mega menu
  }
  .header_wrapper_right {
    display: flex;
    grid-gap: 0;
    align-items: center;
    justify-content: flex-end;
    flex: 1 0 auto;
    .address_serach_box {
      position: absolute;
      left: 0;
      padding: 20px;
      display: flex;
      align-items: center;
      background: $white;
      top: 110%;
      min-width: 554px;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;
      border-top: 1px solid rgba(112, 112, 112, 0.1);
      .theme_search_field {
        border-radius: 5px 0 0 5px;
        border-right: 0;
      }
      &.active {
        opacity: 1;
        visibility: visible;
        top: 100%;
      }
      .addressBtn {
        background: $secondary_color;
        border: 0;
        border-radius: 5px;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 5px 5px 0;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
      }
    }
    .delivery_address_text {
      display: flex;
      align-items: center;
      grid-gap: 15px;
      @media #{$tab} {
        display: none;
      }
      .delevering_text {
        font-size: 14px;
        color: #4c4c4c;
        font-weight: 400;
      }
      .delevering_add {
        font-size: 14px;
        color: #1e1e20;
        font-weight: 500;
        display: flex;
        grid-gap: 30px;
        align-items: center;
        cursor: pointer;
      }
      i {
        font-size: 12px;
        font-weight: 400;
        color: $secondary_color;
        cursor: pointer;
      }
    }
    .deliver_timing {
      display: flex;
      align-items: center;
      grid-gap: 10px;
      @media #{$tab} {
        display: none;
      }
      span {
        font-size: 14px;
        font-family: $font1;
        &.timng_text {
          font-weight: 400;
          color: $body_text;
          text-transform: uppercase;
        }
        &.timng_asp {
          font-weight: 500;
          color: $primary_color;
        }
      }
    }
    .single_header_info {
      padding: 0 30px;
      height: 80px;
      @media #{$large_xl} {
        padding: 0 20px;
      }
      @media #{$tab} {
        padding: 0 20px;
      }
      &:not(:last-child) {
        border-right: 1px solid #eaeef0;
      }
      &:first-child {
        border-left: 1px solid #eaeef0;
      }
    }
    .language_text {
      display: flex;
      align-items: center;
      grid-gap: 10.5px;
      @media #{$tab} {
        display: none;
      }
      span {
        &.lang_opt {
          font-size: 14px;
          font-weight: 700;
          color: $primary_color;
        }
      }
    }
    .admin_use_info {
      .admin_use_info_inner {
        grid-gap: 15px;
        .thumb {
          width: 50px;
          height: 50px;
          img {
            width: 100%;
            border-radius: 50%;
          }
        }
        h4 {
          font-size: 16px;
          font-weight: 700;
          @media #{$tab} {
            display: none;
          }
        }
        i {
          font-size: 12px;
          color: $secondary_color;
          @media #{$tab} {
            display: none;
          }
        }
      }
      .admin_dropdown {
        top: 110%;
        background: $white;
        padding: 19px 30px 27px 30px;
        left: 0;
        right: 0;
        transition: 0.3s;
        opacity: 0;
        visibility: hidden;
        border-top: 1px solid rgba(112, 112, 112, 0.1);
        @media #{$tab} {
          width: 260px;
          left: auto;
          right: -65px;
        }
        .seperator {
          margin: 23px 0 23px 0;
          border-bottom: 1px solid #eaeef0;
        }
        ul {
          li {
            &:not(:last-child) {
              margin-bottom: 8px;
            }
            a {
              font-size: 14px;
              font-weight: 500;
              color: $primary_color;
              transition: 0.3s;
              &:hover {
                color: $secondary_color;
              }
            }
          }
        }
      }
      &:hover {
        .admin_dropdown {
          top: 100%;
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .single_wishcart_lists {
      display: flex;
      align-items: center;
      cursor: pointer;
      .icon {
        margin-right: 15px;
      }
      span {
        font-size: 14px;
        font-weight: 500;
        color: $primary_color;
      }
    }
  }
  .contact_wrap {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    @media #{$small_mobile} {
      display: none !important;
    }
    @media #{$medium_device} {
      display: none !important;
    }
    @media #{$medium_device} {
      display: none !important;
    }
    .mobile_no {
      p {
        color: #505050;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 0;
        font-family: $font1;
        span {
          a {
            color: $primary_color2;
          }
        }
        @media #{$big_screen} {
          font-size: 13px;
          margin-right: 8px;
        }
      }
    }
    .signin {
      a.sign_in {
        font-size: 16px;
        color: #505050;
        font-weight: 600;
        margin-right: 40px;
        @media #{$lg_device} {
          margin-right: 15px;
        }
        &:hover {
          color: #4543de;
        }
      }
    }
    .contact_btn {
      margin-left: 25px;
    }
  }
  &.navbar_fixed {
    background: #fff;
    // padding: 20px;
    z-index: 90;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.03);
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    @media #{$small_mobile} {
      // padding: 10px 10px;
    }
    .header_top_area {
      display: none;
      @media #{$tab} {
        display: block;
      }
    }
    .main_header_area {
      // @media #{$tab} {
      //     display: none;
      // }
    }
    .slicknav_menu .slicknav_icon {
      @media #{$tab} {
        top: -2px;
      }
    }
    .main_menu {
      ul {
        li {
          a {
            // padding: 30px 20px;
            // @media #{$large_xl}{
            //     padding: 35px 15px;
            // }
          }
        }
      }
    }
  }
}

.header_area_one {
  .menu_search_popup {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition: 0.3s;
    z-index: 12000000000;
    &.active {
      transform: translateY(0%);
    }
    .search_close {
      position: absolute;
      right: 16%;
      top: 30px;
      font-size: 20px;
      color: $primary_color;
      cursor: pointer;
      transition: 0.3s;
      width: 20px;
      height: 20px;
      border: 1px solid $primary_color;
      border-radius: 50%;
      font-size: 10px;
      font-weight: 900;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $primary_color;
      @media #{$tab2} {
        right: 15px;
        top: 20px;
      }
      &:hover {
        color: $secondary_color;
        border-color: $secondary_color;
      }
    }
    .menu_search_popup_field {
      max-width: 562px;
      position: relative;
      flex: 562px 0 0;
      @media #{$tab} {
        flex: 70% 0 0;
        max-width: 70%;
      }
      input {
        border: 0;
        border-bottom: 1px solid #d9d9d9;
        width: 100%;
        font-size: 14px;
        color: $primary_color;
        padding: 10px 20px 10px 0px;
        font-weight: 400;
        font-family: $font1;
        &::placeholder {
          color: #6e446e;
        }
        &:focus {
          border-color: $primary_color;
        }
      }
      button {
        background: transparent;
        border: 0;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0;
        height: 100%;
        width: 30px;
        line-height: 1;
        text-align: right;
        i {
          font-size: 18px;
          color: $primary_color;
          font-weight: 700;
        }
      }
    }
  }
}
