.order_details_Estimated {
  .order_details_Estimated_box {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #eaeef0;
    background-color: #fff;
    padding: 73px 100px;
    @media #{$tab} {
      padding: 40px 30px;
    }
    &.style2 {
      padding: 55px 30px 55px 30px;
      img {
        margin-bottom: 27px;
      }
      h3 {
        margin-bottom: 38px;
      }
    }
    .estimated_text {
    }
    h3 {
      font-size: 30px;
      font-weight: 700;
      color: $primary_color;
      margin: 9px 0 40px 0;
    }
    .cooking_animated {
      display: flex;
      grid-gap: 10px;
      flex-wrap: wrap;
      justify-content: center;
      margin: 30px 0 28px 0;
      span {
        width: 60px;
        height: 6px;
        background: rgba($secondary_color, 0.1);
        display: inline-block;
        border-radius: 30px;
        &:first-child {
          width: 40px;
          background: $secondary_color;
        }
        &:last-child {
          width: 40px;
        }
      }
    }
    .preparing_text {
      line-height: 1.86;
    }
  }
  .rider_chat_box {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid #eaeef0;
    background-color: #fff;
    padding: 38px 40px 37px 40px;
    .rider_chat_box_text {
      h3 {
        margin-bottom: 7px;
      }
      p {
      }
    }
    img {
    }
  }
}
.rider_chat_box {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #eaeef0;
  background-color: #fff;
  padding: 40px 40px 40px 40px;
  h3 {
    margin-bottom: 7px;
  }
}

.order_product_details {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #eaeef0;
  background-color: #fff;
  padding: 39px 40px 40px 40px;
  .op_details {
    border-bottom: 1px solid #ededed;
    padding-bottom: 26px;
    .single_dsc {
      display: flex;
      align-items: center;
      grid-gap: 10px;
      flex-wrap: wrap;
      &:not(:last-child) {
        margin-bottom: 8px;
      }
      span {
        &.text_1 {
          color: #4c4c4c;
          min-width: 110px;
        }
        &.text_2 {
          color: $primary_color;
        }
      }
    }
  }
  .op_details_list {
    li {
      &:first-child {
        padding: 16.5px 0 !important;
      }
      &:not(:last-child) {
        border-bottom: 1px solid #ededed;
        padding: 27px 0 25px 0;
      }
      .op_details_list_single {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &.Total_text {
          padding-top: 24px;
        }
        &.Subtotal {
          margin-bottom: 5px;
        }
        .d_text {
          color: $body_text;
          span {
            color: #1e1e20;
          }
        }
        p {
          font-size: 14px;
          color: $body_text;
          font-weight: 400;
        }
      }
    }
  }
}

// modal
.theme_modal {
  .catting_wrapper {
    .catting_wrapper_header {
      padding: 17.5px 40px;
      grid-gap: 30px;
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05);
      @media #{$tab} {
        padding: 17.5px 30px;
        grid-gap: 20px;
      }
      h3 {
      }
      .translate_img {
        img {
        }
      }
      .close_modal {
        font-size: 14px;
        color: $secondary_color;
      }
    }
    .catting_wrapper_body {
      padding: 50px 40px 50px 40px;
      @media #{$tab} {
        padding: 30px 30px 30px 30px;
      }
      .single_catting_box {
        border-radius: 20px;
        background-color: #fcfaff;
        padding: 29.5px 30px;
        max-width: 420px;
        &.large_img {
          max-width: 606px;
          padding: 38px 40px;
        }
        &.reply_img {
          background: $secondary_color;
          margin-right: 0;
          margin-left: auto;
        }
        p {
          line-height: 1.86;
        }
      }
    }
    .catting_wrapper_footer {
      box-shadow: 0 -3px 5px 0 rgba(0, 0, 0, 0.05);
      background-color: #fff;
      .input-group {
        height: 70px;
        input {
          border: 0;
          padding: 15px 40px;
          font-size: 14px;
          color: $primary_color;
          font-weight: 400;
          &::placeholder {
            color: $body_text;
          }
        }
        button {
          border: 0;
          background: transparent;
          height: 100%;
          padding: 0 40px;
        }
      }
    }
  }
}
