.primary_checkbox {
  display: inline-block;
  position: relative;
  margin: 0;
  align-items: center;
  h5 {
    font-size: 14px;
    font-weight: 500;
    font-family: $font1;
    color: $primary_color;
    margin-bottom: 0;
  }
  .label_name {
    font-size: 16px;
    font-weight: 400;
    font-family: $font1;
    color: $body_text2;
    margin-bottom: 0;
  }
  &.white_checkbox {
    .checkmark:after {
      border-color: $white;
    }
  }
  .checkmark {
    position: relative;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    line-height: 20px;
    flex: 20px 0 0;
    border-radius: 3px;
  }
  // .checkmark:after {
  //     content: "";
  //     position: absolute;
  //     display: none;
  // }
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
  }
  input:checked ~ .checkmark:after {
    // background: linear-gradient(90deg, #7C32FF 0.47%, #C738D8 100%);
    width: 100%;
    height: 100%;
    border: 0;
    // box-shadow: 0px 5px 10px rgba(108, 39, 255, 0.25);
    transition: 0.3s;
    transform: scale(0);
  }
  input:checked ~ .checkmark {
    background: $secondary_color;
    // width: 100%;
    // height: 100%;
    transition: 0.3s;
  }
  input:checked ~ .checkmark::before {
    content: "\e64c";
    font-family: "themify";
    position: absolute;
    display: block;
    top: 0px;
    left: 3px;
    text-indent: 1px;
    color: #828bb2;
    background-color: transparent;
    border: 0px;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    transform: rotate(8deg);
    font-size: 10px;
    font-weight: 600;
    line-height: 20px;
    z-index: 99;
    color: #fff;
    transition: 0.3s;
  }

  .checkmark:after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #eaeef0;
    transition: 0.3s;
    transform: scale(1);
  }
}
.primary_checkbox2 {
  display: inline-block;
  position: relative;
  margin: 0;
  align-items: center;
  h5 {
    font-size: 14px;
    font-weight: 500;
    font-family: $font1;
    color: $primary_color;
    margin-bottom: 0;
  }
  .label_name {
    font-size: 16px;
    font-weight: 400;
    font-family: $font1;
    color: $body_text2;
    margin-bottom: 0;
  }
  &.white_checkbox {
    .checkmark:after {
      border-color: $white;
    }
  }
  .checkmark {
    position: relative;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    line-height: 20px;
    flex: 25px 0 0;
    border-radius: 3px;
  }
  // .checkmark:after {
  //     content: "";
  //     position: absolute;
  //     display: none;
  // }
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
  }
  input:checked ~ .checkmark:after {
    // background: linear-gradient(90deg, #7C32FF 0.47%, #C738D8 100%);
    width: 100%;
    height: 100%;
    border: 0;
    // box-shadow: 0px 5px 10px rgba(108, 39, 255, 0.25);
    transition: 0.3s;
    transform: scale(0);
  }
  input:checked ~ .checkmark {
    background: $secondary_color;
    // width: 100%;
    // height: 100%;
    transition: 0.3s;
  }
  input:checked ~ .checkmark::before {
    content: "\e64c";
    font-family: "themify";
    position: absolute;
    display: block;
    top: 0px;
    left: 5px;
    text-indent: 1px;
    color: #828bb2;
    background-color: transparent;
    border: 0px;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    transform: rotate(8deg);
    font-size: 12px;
    font-weight: 600;
    line-height: 25px;
    z-index: 99;
    color: #fff;
    transition: 0.3s;
  }

  .checkmark:after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #eaeef0;
    transition: 0.3s;
    transform: scale(1);
  }
}
.round_checkbox {
  display: inline-block;
  position: relative;
  margin: 0;
  align-items: center;
  width: 20px;
  height: 20px;
  h5 {
    font-size: 14px;
    font-weight: 500;
    font-family: $font1;
    color: $primary_color;
    margin-bottom: 0;
  }
  .label_name {
    font-size: 14px;
    font-weight: 500;
    font-family: $font1;
    color: #656565;
    margin-bottom: 0;
  }
  &.white_checkbox {
    .checkmark:after {
      border-color: $white;
    }
  }
  .checkmark {
    position: relative;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    line-height: 18px;
    flex: 20px 0 0;
    border-radius: 50%;
    border: 1px solid #eaeef0;
  }
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
  }
  input .checkmark {
  }
  input:checked ~ .checkmark {
    border-color: $secondary_color;
  }
  // input:checked ~ .checkmark::before {
  //   border-color: $secondary_color;
  //   transform: scale(1);
  // }
  // .checkmark::before {
  //   content: "";
  //   position: absolute;
  //   width: 20px;
  //   height: 20px;
  //   background: $white !important;
  //   border-radius: 50%;
  //   left: -1px;
  //   top: -1px;
  //   border: 0px solid $secondary_color;
  //   transform: scale(0);
  //   transition: .3s;
  // }
  // input:checked ~ .checkmark::after {
  //   border-color: $secondary_color;
  // }
  .checkmark:after {
    position: absolute;
    display: block;
    top: -1px;
    left: -1px;
    content: "";
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    transition: 0.3s;
    transform: scale(0);
    border: 5px solid $secondary_color;
  }
  input:checked ~ .checkmark::after {
    transform: scale(1);
  }
  &.black_check {
    input:checked ~ .checkmark {
      border-color: #000000;
    }
    .checkmark::before {
      background: #000;
    }
  }

  &.blue_check {
    input:checked ~ .checkmark {
      border-color: transparent;
    }
    .checkmark::before {
      background: #1f73be;
    }
  }
  &.gray_check {
    input:checked ~ .checkmark {
      border-color: #d6d6d6;
    }
    .checkmark::before {
      background: #d6d6d6;
    }
  }
  &.paste_check {
    input:checked ~ .checkmark {
      border-color: #81d742;
    }
    .checkmark::before {
      background: #81d742;
    }
  }
  &.brouwn_check {
    input:checked ~ .checkmark {
      border-color: #dd9a32;
    }
    .checkmark::before {
      background: #dd9a32;
    }
  }
  &.violate_check {
    input:checked ~ .checkmark {
      border-color: #8224e2;
    }
    .checkmark::before {
      background: #8224e2;
    }
  }
  &.red_check {
    input:checked ~ .checkmark {
      border-color: #ef3736;
    }
    .checkmark::before {
      background: #ef3736;
    }
  }
  &.yellow_check {
    input:checked ~ .checkmark {
      border-color: #eeee22;
    }
    .checkmark::before {
      background: #eeee22;
    }
  }
}
.round_checkbox2 {
  display: inline-block;
  position: relative;
  margin: 0;
  align-items: center;
  width: 25px;
  height: 25px;
  h5 {
    font-size: 14px;
    font-weight: 500;
    font-family: $font1;
    color: $primary_color;
    margin-bottom: 0;
  }
  .label_name {
    font-size: 14px;
    font-weight: 500;
    font-family: $font1;
    color: #656565;
    margin-bottom: 0;
  }
  &.white_checkbox {
    .checkmark:after {
      border-color: $white;
    }
  }
  .checkmark {
    position: relative;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    line-height: 18px;
    flex: 25px 0 0;
    border-radius: 50%;
    border: 1px solid #eaeef0;
  }
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
  }
  input .checkmark {
  }
  input:checked ~ .checkmark {
    border-color: $secondary_color;
  }
  // input:checked ~ .checkmark::before {
  //   border-color: $secondary_color;
  //   transform: scale(1);
  // }
  // .checkmark::before {
  //   content: "";
  //   position: absolute;
  //   width: 20px;
  //   height: 20px;
  //   background: $white !important;
  //   border-radius: 50%;
  //   left: -1px;
  //   top: -1px;
  //   border: 0px solid $secondary_color;
  //   transform: scale(0);
  //   transition: .3s;
  // }
  // input:checked ~ .checkmark::after {
  //   border-color: $secondary_color;
  // }
  .checkmark:after {
    position: absolute;
    display: block;
    top: -1px;
    left: -1px;
    content: "";
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    transition: 0.3s;
    transform: scale(0);
    border: 6px solid $secondary_color;
  }
  input:checked ~ .checkmark::after {
    transform: scale(1);
  }
  &.black_check {
    input:checked ~ .checkmark {
      border-color: #000000;
    }
    .checkmark::before {
      background: #000;
    }
  }

  &.blue_check {
    input:checked ~ .checkmark {
      border-color: transparent;
    }
    .checkmark::before {
      background: #1f73be;
    }
  }
  &.gray_check {
    input:checked ~ .checkmark {
      border-color: #d6d6d6;
    }
    .checkmark::before {
      background: #d6d6d6;
    }
  }
  &.paste_check {
    input:checked ~ .checkmark {
      border-color: #81d742;
    }
    .checkmark::before {
      background: #81d742;
    }
  }
  &.brouwn_check {
    input:checked ~ .checkmark {
      border-color: #dd9a32;
    }
    .checkmark::before {
      background: #dd9a32;
    }
  }
  &.violate_check {
    input:checked ~ .checkmark {
      border-color: #8224e2;
    }
    .checkmark::before {
      background: #8224e2;
    }
  }
  &.red_check {
    input:checked ~ .checkmark {
      border-color: #ef3736;
    }
    .checkmark::before {
      background: #ef3736;
    }
  }
  &.yellow_check {
    input:checked ~ .checkmark {
      border-color: #eeee22;
    }
    .checkmark::before {
      background: #eeee22;
    }
  }
}
.play_button {
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  color: $primary_color;
  display: inline-block;
  text-align: center;
  line-height: 100px;
  position: relative;
  font-size: 24px;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background: $secondary_color;
    color: $white;
  }
}
.play_button2 {
  width: 80px;
  height: 80px;
  background: transparent;
  border-radius: 50%;
  color: $secondary_color;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  position: relative;
  font-size: 13px;
  transition: 0.3s;
  cursor: pointer;
  border: 1.5px solid $secondary_color;
  &:hover {
    background: $secondary_color;
    color: $white;
  }
}

.theme__overlay {
  position: relative;
  z-index: 2;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0a0b21;
    opacity: 0.4;
    z-index: -1;
  }
}

.lms_tabmenu {
  background: #f8f8fe;
  border-radius: 10px;
  display: inline-flex;
  li {
    a {
      font-size: 16px;
      font-weight: 600;
      font-family: $font1;
      color: $primary_color;
      border-radius: 10px;
      padding: 13px 39px;
      @media #{$tab} {
        padding: 13px 30px;
      }
      @media #{$large_mobile} {
        padding: 13px 27px;
      }
      &.active {
        background: $secondary_color;
        color: $white;
        border-radius: 10px;
      }
    }
  }
}

.theme_border {
  border-top: 1px solid #e9e7f7;
}

.theme_according {
  button {
    &::before {
      left: 5px;
      position: absolute;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      content: "\e622";
      font-family: "themify";
      font-size: 10px;
      color: $primary_color;
      font-weight: 400;
      top: 17px;
    }
    &.collapsed::before {
      content: "\e61a";
      font-family: "themify";
    }
  }
}
.theme_according {
  .card {
    margin-bottom: 15px;
    border: 0;
    .card-header {
      border: 0;
      border-bottom: 1px solid #eaeef0;
      border-radius: 0px;
      background: transparent;
      padding: 0;
      h5 {
        button {
          font-family: $font1;
          font-size: 16px;
          font-weight: 500;
          color: $primary_color;
          display: flex;
          justify-content: space-between;
          width: 100%;
          border: 0;
          padding: 11.5px 25px 13px 30px;
          text-decoration: none !important;
          text-align: left;
          box-shadow: none;
          @media #{$tab} {
            flex-wrap: wrap;
          }
          span {
            font-size: 14px;
            font-weight: 500;
            font-family: $font1;
            color: $primary_color;
          }
        }
      }
    }
  }
  .card-body {
    padding: 0;
    padding-top: 0px;
    background: #f9f5ff;
    padding: 30px 65px 36px 55px;
    margin-top: 30px;
    @media #{$tab} {
      padding: 30px 25px 36px 48px;
    }
    h5 {
      font-size: 16px;
      font-weight: 500;
      color: $primary_color;
      margin-bottom: 17px;
      position: relative;
      i {
        position: absolute;
        left: 0;
        top: 4px;
        font-size: 10px;
        color: $primary_color;
        left: -20px;
      }
    }
    p {
      font-size: 16px;
      font-weight: 400;
      color: $body_text;
      line-height: 1.75;
      margin-bottom: 0;
    }
  }
}

.primary_bulet_checkbox {
  display: inline-block;
  position: relative;
  margin: 0;
  align-items: center;
  h5 {
    font-size: 16px;
    font-weight: 500;
    font-family: $font1;
    color: $primary_color;
    margin-bottom: 0;
  }
  .label_name {
    font-size: 16px;
    font-weight: 500;
    font-family: $font1;
    color: $primary_color;
    margin-bottom: 0;
  }
  &.white_checkbox {
    .checkmark:after {
      border-color: $white;
    }
  }
  .checkmark {
    position: relative;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    line-height: 18px;
    flex: 18px 0 0;
    border-radius: 50%;
  }
  // .checkmark:after {
  //     content: "";
  //     position: absolute;
  //     display: none;
  // }
  input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
  }
  input:checked ~ .checkmark:after {
    width: 100%;
    height: 100%;
    transition: 0.3s;
    transform: scale(1);
    border-color: $secondary_color;
  }
  input:checked ~ .checkmark {
    // background: $secondary_color;
    // width: 100%;
    // height: 100%;
    transition: 0.3s;
  }
  input:checked ~ .checkmark::before {
    transform: translate(-50%, -50%) scale(1);
  }
  .checkmark::before {
    position: absolute;
    background: $secondary_color;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s;
  }
  .checkmark:after {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    width: 18px;
    height: 18px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid #e9e7f7;
    transition: 0.3s;
    transform: scale(1);
  }
}
