.product_wized {
  &.mb_50 {
    @media #{$tab} {
      margin-bottom: 30px;
    }
  }
  .thumb {
    margin-bottom: 21px;
    overflow: hidden;
    img {
      width: 100%;
      transform: scale(1);
      transition: 0.3s;
    }
    .date_tag {
      background: $white;
      right: 0;
      top: 0;
      width: 40px;
      height: 40px;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.16);
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h6 {
        font-size: 14px;
        font-weight: 700;
        color: $primary_color;
        margin-bottom: 2px;
        line-height: 1;
      }
      p {
        font-size: 8px;
        color: $primary_color;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 0;
        line-height: 1;
      }
    }
    .product_tag {
      background: $secondary_color;
      color: $white;
      font-size: 12px;
      font-weight: 700;
      padding: 6px 15px;
      top: 20px;
      left: 0;
      display: inline-block;
      &.style2 {
        top: 60px;
      }
    }
  }
  .product_meta {
    h3 {
      margin-bottom: 0;
      a {
        font-size: 22px;
        font-weight: 700;
        color: $primary_color;
        transition: 0.3s;
        &:hover {
          color: $secondary_color;
        }
      }
    }
    p {
      font-size: 14px;
      font-weight: 400;
      color: $body_text;
      margin: 3px 0 14px 0;
      .dot_devide {
        font-size: 8px;
        color: #4c4c4c;
      }
      .mark_text {
        color: $secondary_color;
        margin-right: 11px;
      }
    }
    .raing_box {
      .raing_box_inner {
        border: 1px solid #f5f5f5;
        display: flex;
        grid-gap: 10px;
        padding: 8.5px 14px;
        margin-right: 15px;
        span {
          font-size: 14px;
          color: #1e1e20;
          font-weight: 500;
        }
        i {
          font-size: 16px;
          color: #ffc107;
        }
      }
      .rating_text {
        font-size: 14px;
        color: #4c4c4c;
        font-weight: 400;
      }
    }
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}
