.product_details_area {
  padding: 60px 0 160px 0;
  @media #{$tab} {
    padding: 60px 0 70px 0;
  }
  .product_details_head {
    border-bottom: 1px solid #ededed;
    padding-bottom: 30px;
  }
  .product_meta {
    h3 {
      margin-bottom: 0;
      a {
        font-size: 30px;
        font-weight: 700;
        color: $primary_color;
        transition: 0.3s;
        &:hover {
          color: $secondary_color;
        }
      }
      .product_tag {
        background: #7f32fd;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        padding: 8px 15px;
        left: 0;
        display: inline-block;
      }
    }
    p {
      font-size: 14px;
      font-weight: 400;
      color: $body_text;
      margin: 8px 0 14px 0;
      .dot_devide {
        font-size: 8px;
        color: $body_text;
      }
      .mark_text {
        color: $secondary_color;
        margin-right: 11px;
      }
    }
    .raing_box {
      .raing_box_inner {
        border: 1px solid #f5f5f5;
        display: flex;
        grid-gap: 10px;
        padding: 8.5px 14px;
        margin-right: 15px;
        span {
          font-size: 14px;
          color: #1e1e20;
          font-weight: 500;
        }
        i {
          font-size: 16px;
          color: #ffc107;
        }
      }
      .rating_text {
        font-size: 14px;
        color: $body_text;
        font-weight: 400;
      }
    }
  }
  .invite_people {
    cursor: pointer;
    img {
    }
    span {
      font-size: 16px;
      font-weight: 500;
      color: $secondary_color;
      display: inline-block;
      margin: 0 20px 0 10px;
    }
    i {
      font-size: 16px;
      color: #fa0d0d;
    }
  }
  .infix_food_tabs {
    margin: 30px 0 60px 0;
    @media #{$tab} {
      margin: 30px 0 30px 0;
    }
  }
}

.product_details_body {
  .product_details_single {
    &:not(:last-child) {
      margin-bottom: 60px;
    }
  }
}
.product_details_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  @media #{$tab} {
    grid-template-columns: repeat(1, 1fr);
  }
}
// product_d_wized
.product_d_wized {
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 40px 50px 27px 50px;
  border: 2px solid transparent;
  transition: 0.3s;
  @media #{$tab} {
    padding: 40px 35px 27px 35px;
  }
  &:hover {
    border-color: $secondary_color;
  }
  h4 {
    a {
      font-size: 20px;
      font-weight: 700;
      transition: 0.3s;
      margin-bottom: 0;
      &:hover {
        color: $secondary_color;
      }
    }
    .prise {
      font-size: 12px;
      font-weight: 500;
      color: $secondary_color;
      text-transform: uppercase;
    }
  }
  p {
    font-size: 14px;
    font-weight: 400;
    color: $body_text;
    margin: 2px 0 16px 0;
    .dot_devide {
      font-size: 8px;
      color: $body_text;
    }
    .mark_text {
      color: $secondary_color;
      margin-right: 11px;
    }
  }
  .prise_text {
    font-size: 14px;
    font-weight: bold;
    color: $secondary_color;
  }
  .addcart_action {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: $secondary_color;
    cursor: pointer;
    grid-gap: 10px;
    span {
      font-size: 14px;
      font-weight: 700;
      color: $secondary_color;
      line-height: 1;
    }
  }
}
.product_d_wized2 {
  border-radius: 0px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 30px;
  border: 0;
  transition: 0.3s;
  h4 {
    line-height: 1;
    a {
      font-size: 18px;
      font-weight: 700;
      transition: 0.3s;
      margin-bottom: 0;
      line-height: 1;
      &:hover {
        color: $secondary_color;
      }
    }
    .prise {
      font-size: 12px;
      font-weight: 500;
      color: $secondary_color;
      text-transform: uppercase;
    }
  }
  p {
    font-size: 14px;
    font-weight: 400;
    color: $body_text;
    margin: 3px 0 14px 0;
    .dot_devide {
      font-size: 8px;
      color: $body_text;
    }
    .mark_text {
      color: $secondary_color;
      margin-right: 11px;
    }
  }
  .prise_text {
    font-size: 14px;
    font-weight: bold;
    color: $secondary_color;
  }
  .addcart_action {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: $secondary_color;
    cursor: pointer;
    grid-gap: 10px;
    span {
      font-size: 14px;
      font-weight: 700;
      color: $secondary_color;
      line-height: 1;
    }
  }
}
.infix_food_tabs {
  li {
    .nav-link {
      font-size: 16px;
      font-weight: 500;
      color: $primary_color;
      transition: 0.3s;
      border: 0;
      background: transparent;
      border-radius: 10px;
      padding: 13px 35px;
      @media #{$tab} {
        padding: 13px 30px;
      }
      &.active {
        background: $secondary_color;
        color: $white;
        border-radius: 10px;
        color: $white;
      }
    }
  }
}
