.searchFilter_wrap {
  z-index: 12;
  .recent_search_wrap {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    padding: 29px 40px 60px 40px;
    width: 100%;
    top: 110%;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    @media #{$tab} {
      padding: 30px;
    }
    &.active {
      top: 100%;
      visibility: visible;
      opacity: 1;
    }
    .recent_lists {
      margin-bottom: 37px;
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:not(:last-child) {
          margin-bottom: 11px;
        }
        a {
          font-size: 14px;
          font-weight: 400;
          color: $body_text2;
          display: flex;
          align-items: center;
          grid-gap: 15px;
          transition: 0.3s;
          &:hover {
            color: $secondary_color;
          }
        }
        i {
          font-size: 12px;
          color: #676e8b;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            color: $secondary_color;
          }
        }
      }
    }
    .popular_search {
      display: flex;
      flex-wrap: wrap;
      grid-gap: 10px;
      a {
        font-size: 14px;
        font-weight: 500;
        color: $secondary_color;
        border: 2px solid $secondary_color;
        border-radius: 30px;
        display: inline-block;
        transition: 0.3s;
        padding: 7.5px 23.5px;
        &:hover {
          background: $secondary_color;
          color: $white;
        }
      }
    }
  }
}

.infix_searchFilter {
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #eaeef0;
  background: $white;
  height: 70px;
  input {
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 400;
    color: $primary_color;
    border: 0;
    border-right: 1px solid #eaeef0 !important;
    &::placeholder {
      color: $body_text2;
      font-weight: 400;
    }
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  button {
    display: flex;
    align-items: center;
    padding: 20px 30px;
    @media #{$tab} {
      padding: 20px 20px;
    }
    span {
      font-size: 14px;
      font-weight: 500;
      color: $body_text2;
      text-transform: uppercase;
      margin: 0 25px 0 11px;
      @media #{$tab} {
        display: none;
      }
    }
    i {
      color: $secondary_color;
      font-size: 12px;
      @media #{$tab} {
        display: none;
      }
    }
  }
}

.search_filter_wrapper {
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 155;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  .search_filter_head {
    grid-gap: 35px;
    border-bottom: 1px solid #eaeef0;
    padding: 22px 40px;
    @media #{$tab} {
      grid-gap: 20px;
      padding: 22px 20px;
    }
    .icon {
      img {
      }
      span {
        color: #676e8b;
        @media #{$tab} {
          display: none;
        }
      }
    }
    .earch_filter_text {
      h4 {
        font-size: 14px;
        font-weight: 700;
        color: $primary_color;
      }
    }
    .search_clear_toggle {
      grid-gap: 18px;
      span {
        font-size: 12px;
        font-weight: 400;
        color: $secondary_color;
      }
      i {
        font-size: 12px;
        font-weight: 400;
        color: $secondary_color;
      }
    }
  }
  .search_filter_body {
    padding: 25px 40px 60px 40px;
    @media #{$tab} {
      padding: 25px;
    }
    .search_filter_prise {
      display: grid !important;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      margin-bottom: 43px;
      @media #{$tab} {
        grid-template-columns: repeat(1, 1fr);
      }
      .filter_prise {
        border: 2px solid $secondary_color;
        font-size: 16px;
        font-weight: 700;
        color: $secondary_color;
        background: $white;
        display: inline-block;
        transition: 0.3s;
        padding: 11px 15px;
        &:hover,
        &.active {
          background: $secondary_color;
          color: $white;
        }
      }
    }
    .filter_group_box {
      &:not(:last-child) {
        margin-bottom: 42px;
      }
      .filter_group {
        max-width: 530px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 21px;
        @media #{$tab} {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}

.serch_oveflay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(3, 3, 21, 0.1);
  z-index: 1;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  &.active {
    opacity: 1;
    visibility: visible;
  }
  &.active1 {
    opacity: 1;
    visibility: visible;
  }
}
