// fonts

// home_1 variable
$font1: "Circular Std";

$primary_color: #1e1e20;
$secondary_color: #7f32fd;
$body_text: #4c4c4c;
$body_text2: #676e8b;

/* --------------------------- other common color::start --------------------------- */
$common_color: #999999;
$gray-color: #ddd;
$text3: #333333;

// theme colors
$primary_color2: #627ae4;
$primary_color3: #ffd500;
$white: #fff;
$b_color: #f1f1f1;
// btn bg
$btn_bg_2: #4543de;
/* --------------------------- other common color::end --------------------------- */
// responsive query
$small_mobile: "(max-width: 575.98px)";
$large_mobile: "(min-width: 576px) and (max-width: 767.98px)";
$tab: "(max-width: 767.98px)";
$tab2: "(max-width: 991.98px)";
$medium_device: "(min-width: 768px) and (max-width: 991.98px) ";
$lg_device: "(min-width: 992px) and (max-width: 1199.98px)";
$large_xl: "(min-width: 1200px) and (max-width: 1399.98px)";
$xl_device: "(min-width: 1200px)";
$max_lg: "(max-width: 1199.98px)";
$min_large: "(min-width: 1600px)";

$tab_device: "only screen and (min-width: 768px) and (max-width: 991.98px)";
$big_screen: "only screen and (min-width: 1200px) and (max-width: 1440px)";
