.video_area{
    @include background('../img/banner/video_bg.jpg',center center);
    padding: 110px 0;
    .video_content{
        max-width: 575px;
        .intro_play{
            grid-gap: 20px;
            p{
               font-size: 14px;
               font-weight: 600; 
               color: $green;
               text-transform: uppercase;
               letter-spacing: 2.24px;
            }
        }
        h3{
           font-size: 50px;
           font-weight: 600;
           text-transform: uppercase;
           margin: 32px 0 38px 0;
           line-height: 1.3;
           @media #{$tab}{
                margin: 22px 0 28px 0;
                font-size: 30px;
           }
        }
    }
}