.infix_foodMOdal {
  .modal_bg {
    height: 300px;
    background-image: url(../img/banner/about_modal_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
  }
  .close_modal {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: $secondary_color;
    background: $white;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 2;
  }
  .modal-body {
    padding: 176px 90px 60px 90px;
    @media #{$tab} {
      padding: 176px 15px 40px 15px;
    }
  }
  .about_modal_content {
    max-width: 750px;
    margin: auto;
    position: relative;
    z-index: 1;
    .about_modal_head {
      background: #fff;
      border-radius: 5px;
      padding-top: 50px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
      @media #{$tab} {
        padding: 50px 15px 0px 15px;
      }
      .about_modal_title {
        display: flex;
        align-items: center;
        grid-gap: 20px;
        justify-content: center;
        @media #{$tab} {
          flex-wrap: wrap;
          grid-gap: 15px;
        }
        h3 {
          margin-bottom: 0;
          a {
            font-size: 30px;
            font-weight: 700;
            color: $primary_color;
            transition: 0.3s;
            @media #{$tab} {
              font-size: 24px;
              text-align: center;
            }
            &:hover {
              color: $secondary_color;
            }
          }
          .product_tag {
            background: #7f32fd;
            color: #fff;
            font-size: 12px;
            font-weight: 700;
            padding: 8px 15px;
            left: 0;
            display: inline-block;
          }
        }
        .raing_box {
          .raing_box_inner {
            border: 1px solid #f5f5f5;
            display: flex;
            grid-gap: 10px;
            padding: 8.5px 14px;
            margin-right: 15px;
            span {
              font-size: 14px;
              color: #1e1e20;
              font-weight: 500;
            }
            i {
              font-size: 16px;
              color: #ffc107;
            }
          }
          .rating_text {
            font-size: 14px;
            color: $body_text;
            font-weight: 400;
          }
        }
      }
      p {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        color: $body_text;
        margin: 7px 0 15px 0;
        .dot_devide {
          font-size: 8px;
          color: $body_text;
        }
        .mark_text {
          color: $secondary_color;
          margin-right: 11px;
        }
      }
    }
  }
}

// about_review_tab
.review_nav_tab {
  border-top: 1px solid #f5f5f5;
  justify-content: center;
  grid-gap: 34px;
  .nav-item {
    button {
      background: $white;
      font-size: 14px;
      font-weight: 400;
      color: $body_text;
      position: relative;
      border: 0;
      padding: 20px 3px 19px 3px;
      text-transform: uppercase;
      display: inline-block;
      text-transform: uppercase;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        background: $secondary_color;
        right: 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
      }
      &.active {
        color: $primary_color;
        font-weight: 500;
        &::before {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
// about_review_tab
.about_review_tab {
  .office_info {
    display: grid;
    grid-template-columns: auto 362px;
    grid-gap: 30px;
    align-items: center;
    padding: 40px 0 0 30px;
    @media #{$tab} {
      grid-template-columns: auto;
      padding-left: 0;
    }
    .office_info_left {
      .single_office_address {
        &:not(:last-child) {
          margin-bottom: 37px;
          @media #{$tab} {
            margin-bottom: 20px;
          }
        }
        h4 {
          font-size: 20px;
          font-weight: 700;
          color: $primary_color;
          margin-bottom: 5px;
        }
        p {
          font-size: 14px;
          font-weight: 400;
          color: $body_text;
          margin-bottom: 0;
        }
      }
    }
    .office_info_right {
      #contact-map {
        height: 200px;
      }
    }
  }
}

.review_wrapper_wiz {
  padding-top: 56px;
  .details_title {
    margin-bottom: 29px;
    h3 {
      margin-bottom: 12px;
    }
  }

  .single_reviews {
    display: flex;
    border-bottom: 1px solid #ededed;
    padding-bottom: 25px;
    margin-bottom: 30px;
    &:last-child {
      padding-bottom: 0px;
      border: 0;
      margin-bottom: 54px;
      @media #{$tab} {
        margin-bottom: 30px;
      }
    }
    // @media #{$tab} {
    //     padding-bottom: 40px;
    //     margin-bottom: 40px;
    // }
    @media #{$small_mobile} {
      flex-direction: column;
    }
    .review_content {
      h4 {
        margin-bottom: 0;
        color: $primary_color;
      }
      .review_content_head {
        margin: 0px 0 20px 0;
        grid-gap: 20px;
      }
      .rated_customer {
        display: flex;
        align-items: center;
        margin: 7px 0 0px 0;
        .feedmak_stars {
          display: flex;
          align-items: center;
          margin: 0;
          margin-right: 15px;
          i {
            color: #ffc107;
            font-size: 15px;
            &:not(:last-child) {
              margin-right: 5px;
            }
          }
        }
        span {
          font-size: 14px;
          font-weight: 400;
          color: $body_text;
        }
      }
      p {
        font-size: 14px;
        line-height: 1.86;
        font-weight: 400;
        color: $body_text;
      }
    }
  }
}
