.banner_bg_1 {
  @include background("../img/banner/banner1.jpg", center center, no-repeat);
}
.banner_one {
  .banner_single {
    padding: 323px 0 302px 0;
    display: flex;
    align-items: center;
    @media #{$tab} {
      padding: 150px 0 100px 0;
    }
    .banner__text {
      > span {
        font-size: 12px;
        letter-spacing: 2.4px;
        color: $primary_color;
        font-family: $font1;
        display: block;
        margin-bottom: 0;
      }
      h3 {
        font-size: 60px;
        font-weight: 700;
        color: $primary_color;
        line-height: 1.27;
        margin: 20px 0 39px 0;
        font-family: $font1;
        max-width: 586px;
        @media #{$tab} {
          font-size: 35px;
        }
      }
      .banner_btns {
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
        color: $body_text;
        font-weight: 400;
        font-family: $font1;
      }
    }
  }
}

.banner_two {
  .banner_single {
    padding: 245px 0 220px 0;
    display: flex;
    align-items: center;
    @media #{$tab} {
      padding: 150px 0 100px 0;
    }
    .banner__text {
      &.style2 {
        max-width: 780px;
        h3 {
          max-width: 720px;
        }
      }
      > span {
        font-size: 12px;
        letter-spacing: 2.4px;
        color: $primary_color;
        font-family: $font1;
        display: block;
        margin-bottom: 0;
      }
      h3 {
        font-size: 60px;
        font-weight: 700;
        color: $primary_color;
        line-height: 1.27;
        margin: 20px 0 39px 0;
        font-family: $font1;
        max-width: 586px;
        @media #{$tab} {
          font-size: 35px;
        }
      }
      .banner_btns {
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
        color: $body_text;
        font-weight: 400;
        font-family: $font1;
      }
    }
  }
}
