.theme_btn {
  background: $secondary_color;
  @include border-radius(5px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $white;
  font-weight: 500;
  padding: 22px 23px;
  border: 1px solid transparent;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1;
  &.shadow_btn {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  }
  &.small_btn {
    padding: 13.5px 25px;
  }
  &.large_btn {
    padding: 18.5px 30px;
  }
  &.small_btn2 {
    padding: 13.5px 39px;
  }
  &.small_btn3 {
    padding: 13.5px 32px;
  }
  &.small_btn4 {
    padding: 11px 21px;
  }
  &.small_btn5 {
    padding: 8.5px 20px;
  }
  &.small_btn6 {
    padding: 12px 21px;
  }
  &.btn_50 {
    padding: 17px 20px;
  }
  &.width_160 {
    min-width: 160px;
    text-align: center;
  }
  @media #{$small_mobile} {
    padding: 15px 16px;
  }
  &.secondary_color_btn {
    background: #54c254 !important;
    padding: 8.5px 18px;
    color: #fff !important;
    border-color: #54c254 !important ;
    font-size: 16px;
  }
  &.width_120px {
    width: 120px;
    padding: 13.5px 7px;
    text-align: center;
  }
  &.width_210px {
    min-width: 210px;
    padding: 13.5px 20px;
    text-align: center;
  }
  &:hover {
    color: $secondary_color;
    border-color: $secondary_color;
    background: transparent;
  }
}
.theme_line_btn {
  background: $white;
  @include border-radius(5px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $secondary_color;
  font-weight: 500;
  padding: 21px 23px;
  border: 2px solid $secondary_color;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  &.shadow_btn {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  }
  &.max_btn {
    width: 320px;
    @media #{$tab} {
      width: 280px;
    }
  }
  &.style2 {
    padding: 16px 23px;
    min-width: 220px;
  }
  &.style3 {
    padding: 11px 23px;
    min-width: 122px;
  }
  &.style4 {
    padding: 16px 23px;
  }
  @media #{$small_mobile} {
    padding: 15px 30px;
  }
  &.style5 {
    padding: 11px 23px;
    min-width: 160px;
  }
  &:hover {
    color: $white;
    border-color: $secondary_color;
    background: $secondary_color;
  }
}
.black_btn {
  background: $primary_color;
  @include border-radius(5px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $white;
  font-weight: 500;
  padding: 22px 23px;
  border: 1px solid $primary_color;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 1;

  &.shadow_btn {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  }
  &.width_160 {
    min-width: 160px;
    text-align: center;
  }
  &:hover {
    color: $secondary_color;
    border-color: $secondary_color;
    background: $white;
  }
}
.theme_btn2 {
  background: transparent;
  @include border-radius(0px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $secondary_color;
  font-weight: 600;
  padding: 16px 42px;
  border: 1px solid $secondary_color;
  text-transform: uppercase;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  letter-spacing: 2.24px;
  @media #{$small_mobile} {
    padding: 13px 30px;
  }
  &.width_120px {
    width: 120px;
    padding: 13.5px 7px;
    text-align: center;
  }
  &:hover {
    color: $white;
    border-color: $secondary_color;
    background: $secondary_color;
  }
}

.badge_btn {
  background: rgba($secondary_color, 0.05);
  @include border-radius(5px);
  display: inline-block;
  font-family: $font1;
  font-size: 14px;
  color: $secondary_color;
  font-weight: 700;
  padding: 5px 13px 2px 13px;
  border: 1px solid transparent;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  &.style2 {
    color: #4c4c4c;
  }
}
