.shoping_wrapper {
  .dark_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(4, 8, 34, 0.4);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
  .chart_close {
    i {
      font-size: 15px;
      color: $primary_color;
      cursor: pointer;
    }
    @media #{'(min-width: 767.98px)'} {
      // display: none;
    }
  }
  .shoping_cart {
    position: fixed;
    top: 80px;
    right: 0;
    background: #fff;
    z-index: 3;
    height: calc(100% - 80px);
    width: 480px;
    opacity: 0;
    visibility: hidden;
    overflow: auto;
    transition: 0.3s;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    @media #{$small_mobile} {
      width: 100%;
    }
    @media #{$large_mobile} {
      padding: 160px 20px 30px 30px;
    }
    .shoping_cart_inner_top {
      padding: 40px 40px 40px 40px;
    }
    .shoping_cart_inner_bottom {
      padding: 0px 40px 50px 40px;
    }
    &.active {
      opacity: 1;
      visibility: visible;
    }
    .shoping_cart_inner {
      .cart_header {
        border-bottom: 1px solid #ededed;
        h4 {
          font-size: 20px;
          font-weight: 700;
          color: $primary_color;
          margin-bottom: 20px;
        }
      }
      .popular_orders_acrousel {
        padding: 30px 0px 40px 40px;
        background: #fafafa;
        .product_d_wized2 {
        }
        .owl-carousel .owl-stage {
          padding-left: 0 !important;
        }
      }
      .total_cart_amount {
        padding: 40px 0 28px 0;
        .single_total_cart_amount {
          padding-bottom: 5px;
        }
        .Total_amount_exp {
          border-top: 1px solid #ededed;
          padding-top: 20px;
          margin-top: 22px;
        }
      }
      .single_cart {
        border-bottom: 1px solid #ededed;
        padding: 31px 0 30px 0;
        .cart_title {
          margin-bottom: 12px;
        }
      }
    }
  }
}

// food cart modal
.infix_cartModal {
  .close_modal {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: $secondary_color;
    background: $white;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 2;
    border: 1px solid #f5f5f5;
    transition: 0.3s;
    &:hover {
      color: $white;
      background: $secondary_color;
      border-color: $secondary_color;
    }
  }
  .modal-body {
    padding: 40px;
    @media #{$tab} {
      padding: 35px 25px;
    }
  }
  .cart_btn_group {
    padding: 20px 40px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  }
}

.variation_wrapper {
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  .single_variation {
    padding: 40px 0;
    &:first-child {
      padding: 20px 0 40px 0;
    }
    &:not(:last-child) {
      border-bottom: 1px solid #f5f5f5;
    }
    .variation_list {
      li {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.Instructions_info {
  padding: 45px 0 80px 0;
  @media #{$tab} {
    padding: 30px 0 40px 0;
  }
}

.product_number_count {
  display: inline-flex;
  .count_single_item {
    width: 40px;
    height: 40px;
    border-radius: 0px;
    border: 1px solid #e1e2e6;
    font-size: 14px;
    color: #687083;
    display: inline-block;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    transition: 0.3s;
    cursor: pointer;
    background: #f9f9fd;
  }
  .count_single_item.input-number {
    cursor: text;
    width: 60px;
    background: #fff;
    color: $primary_color;
    font-weight: 500;
    font-family: $font1;
    font-size: 16px;
    border-right: 0;
    border-left: 0;
    &::placeholder {
      color: $primary_color;
    }
  }
  &.style_2 {
    .count_single_item {
      width: 40px;
      height: 40px;
      line-height: 40px;
    }
    .count_single_item.input-number {
      width: 60px;
      &::placeholder {
        color: #687083;
      }
    }
  }
}
