.checkout_according {
  .card {
    margin-bottom: 15px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #eaeef0;
    .card-header {
      border: 0;
      border-radius: 0px;
      background: transparent;
      padding: 0;
      h5 {
        button {
          font-family: $font1;
          font-size: 20px;
          font-weight: 700;
          color: $primary_color;
          display: flex;
          justify-content: space-between;
          width: 100%;
          border: 0;
          padding: 35px 25px 15px 40px;
          text-decoration: none !important;
          text-align: left;
          box-shadow: none;
          transition: 0.3s;
          &.collapsed {
            padding: 15px 25px 15px 40px;
          }
          @media #{$tab} {
            flex-wrap: wrap;
          }
          span {
            font-size: 14px;
            font-weight: 500;
            font-family: $font1;
            color: $primary_color;
          }
        }
      }
    }
  }
  .card-body {
    padding: 0;
    padding-top: 0px;
    background: transparent;
    padding: 11px 40px 40px 40px;
    @media #{$tab} {
      padding: 11px 30px 30px 30px;
    }
    .row {
      margin-right: -10px;
      margin-left: -10px;
      .col-xl-6,
      .col-xl-12,
      .col-xxl-6 {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }
}
.lmsSwitch_toggle {
  display: inline-block;
  height: 15px;
  position: relative;
  // width: 40px;
  width: 40px;
  margin-bottom: 0;
  input {
    opacity: 0;
  }
  .slider:before {
    bottom: 0px;
    content: "";
    // height: 20px;
    height: 20px;
    left: 0px;
    left: 0;
    position: absolute;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    // width: 20px;
    width: 20px;
    background: #707db7;
    background: #828bb2;
    top: -2px;
  }

  input:checked + .slider {
    background: #fff;
  }

  input:checked + .slider:before {
    // transform: translateX(20px);
    transform: translateX(20px);
    background: $secondary_color;
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
  .switch_toggle input {
    display: none;
  }
  .slider {
    background-color: #fff;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
  }
}
// only checkout
.checout_body_info {
  .address_quote {
    background: rgba(127, 50, 253, 0.05);
    padding: 15.5px 29px;
    &::before {
      position: absolute;
      width: 4px;
      height: 100%;
      content: "";
      left: 0;
      top: 0;
      background: $secondary_color;
    }
  }
  .address_map_box {
    .contact-map {
      height: 200px;
    }
    .address_map_content {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
      background-color: #fff;
      padding: 28px 30px 30px 30px;
    }
  }
}

.check_product_details {
  .op_details {
    border-bottom: 1px solid #ededed;
    padding-bottom: 26px;
    .single_dsc {
      display: flex;
      align-items: center;
      grid-gap: 10px;
      flex-wrap: wrap;
      &:not(:last-child) {
        margin-bottom: 8px;
      }
      span {
        &.text_1 {
          color: #4c4c4c;
          min-width: 110px;
        }
        &.text_2 {
          color: $primary_color;
        }
      }
    }
  }
  .op_details_list {
    li {
      &:first-child {
        padding: 0 0 20px 0 !important;
        .op_details_list_single {
          padding: 6px 0;
        }
      }
      &:not(:last-child) {
        border-bottom: 1px solid #ededed;
        padding: 28px 0 20px 0;
        .op_details_list_single {
          margin-bottom: 2px;
        }
      }
      .op_details_list_single {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &.Total_text {
          padding-top: 24px;
        }
        .d_text {
          color: $body_text;
          span {
            color: #1e1e20;
          }
        }
        p {
          font-size: 14px;
          color: $body_text;
          font-weight: 400;
        }
      }
    }
  }
}

.checout_body_payment {
  padding: 19px 40px 38px 40px;
  .text_1 {
    font-size: 14px;
    line-height: 1.86;
    color: $body_text;
    span {
      font-weight: 500;
      color: $primary_color;
    }
  }
  .text_2 {
    font-size: 12px;
    font-weight: 400;
    color: $body_text;
    a {
      color: $secondary_color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .text_3 {
    font-size: 12px;
    font-weight: 400;
    color: $body_text;
    line-height: 1.83;
  }
}

.address_box_view {
  border: 1px solid #ededed;
  padding: 34px 30px 30px 30px;
  p {
    margin: 2px 0 21px 0;
  }
  .addcart_action {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #7f32fd;
    cursor: pointer;
    grid-gap: 10px;
    span {
      font-size: 14px;
      font-weight: 700;
      color: #7f32fd;
      line-height: 1;
    }
  }
  .address_box_right {
    display: flex;
    grid-gap: 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    a {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      border: 1px solid #ededed;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      color: #7f32fd;
    }
  }
}

.voucher_modal {
  .close_modal {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    i {
      color: $secondary_color;
    }
  }
  .modal-body {
    padding: 40px;
  }
}

.voucher_lists {
  .voucher_list_single {
    border-bottom: 1px solid #ededed;
    padding: 19.5px 0;
  }
}
