footer.home_one_footer {
  position: relative;
  background-size: cover;
  background-position: top center;
  background: $white;
  position: relative;
  margin-top: 0;
  .main_footer_wrap {
    padding-top: 96px;
    padding-bottom: 17px;
    @media #{$tab} {
      padding-top: 66px;
    }
    .footer_widget {
      margin-bottom: 30px;
      .footer_logo {
        margin-bottom: 10px;
      }
      .footer_title {
        h3 {
          font-family: $font1;
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 20px;
          text-transform: capitalize;
          color: $primary_color;
        }
      }
      .footer_links {
        li {
          a {
            font-size: 14px;
            font-weight: 500;
            color: $body_text;
            font-family: $font1;
            line-height: 2.86;
            &:hover {
              color: $secondary_color;
            }
          }
        }
      }
      .address_list {
        max-width: 270px;
        p {
          font-size: 14px;
          color: #656565;
          margin-bottom: 0;
          line-height: 1.86;
          font-weight: 500;
          margin-bottom: 15px;
          &:not(:last-child) {
            margin-bottom: 0;
          }
          span {
            font-weight: 700;
          }
        }
      }
      .large_address {
        font-size: 24px;
        font-weight: 700;
        color: $secondary_color;
        margin-bottom: 0;
      }
      .address_text {
        font-size: 14px;
        font-weight: 500;
        color: #0f111d;
        margin-bottom: 33px;
      }
    }
  }
  .copyright_area {
    padding-bottom: 54px;
    @media #{$tab} {
      padding-bottom: 30px;
    }
    .copy_right_text {
      p {
        margin-bottom: 0;
        font-size: 14px;
        color: $body_text;
        font-weight: 500;
        font-family: $font1;
        a {
          color: $secondary_color;
        }
      }
    }
  }
}

.social__Links {
  a {
    font-size: 24px;
    color: #3b5998;
    &.linkedin {
      color: #0077b5;
    }
    &.twitter {
      color: #1da1f2;
    }
    &.instagram {
      color: #fd1d1d;
    }
    &:hover {
      color: $secondary_color;
    }
    &:not(:last-child) {
      margin-right: 23px;
    }
  }
}

.country_lists {
  display: flex;
  align-items: center;
  grid-column-gap: 34px;
  grid-row-gap: 10px;
  flex-wrap: wrap;
  a {
    font-size: 14px;
    font-weight: 500;
    color: $body_text;
    transition: 0.3s;
    position: relative;
    &:not(:last-child) {
      &::before {
        content: "";
        position: absolute;
        height: 15px;
        background: #eaedf0;
        width: 1px;
        top: 50%;
        transform: translateY(-50%);
        right: -15px;
      }
    }

    &:hover {
      color: $secondary_color;
    }
  }
}
