.vouchers_area {
  padding: 180px 0 151px 0;
  @media #{$tab} {
    padding: 120px 0 70px 0;
  }
  .voucher_title {
    border-bottom: 1px solid #eaeef0;
    margin-bottom: 27px;
    h3 {
      margin-bottom: 14px;
    }
  }
}
.order_wrapper {
  .single_order {
    &:not(:last-child) {
      border-bottom: 1px solid #eaeef0;
      padding-bottom: 24px;
      margin-bottom: 27px;
    }
    .order_content {
      h4 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
        a {
          &:hover {
            color: $secondary_color;
          }
        }
      }
      p {
        font-size: 14px;
        font-weight: 400;
        color: $body_text;
        &.order_text {
          display: flex;
          align-items: center;
          grid-gap: 8px;
          span {
            font-weight: 700;
            color: $primary_color;
          }
        }
        &.order_date {
          margin: 3px 0 2px 0;
        }
        &.order_text2 {
          display: flex;
          align-items: center;
          grid-gap: 8px;
          span {
            font-weight: 500;
            color: $primary_color;
          }
        }
        &.date_order {
          margin: 4px 0 2px 0;
        }
        &.order_text {
        }
      }
    }
    .prise_text {
      font-size: 14px;
      color: $secondary_color;
      font-weight: 400;
    }
  }
}
