.infix_popular_area {
  padding-bottom: 100px;
  @media #{$tab} {
    padding-bottom: 35px;
  }
}

.popular_items_wized {
  &.mb_55 {
    @media #{$tab} {
      margin-bottom: 30px;
    }
  }
  .thumb {
    img {
      transform: scale(1);
      transition: 0.3s;
    }
  }
  .product_meta {
    h3 {
      font-size: 22px;
      font-weight: 700;
      color: $primary_color;
      transition: 0.3s;
      margin: 32px 0 12px 0;
      &:hover {
        color: $secondary_color;
      }
    }
    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.63;
      color: $body_text;
    }
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}
