.refund_area {
  .refund_box {
    display: flex;
    grid-column-gap: 60px;
    grid-row-gap: 30px;
    .refund_box_left {
    }
    .refund_info_box {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
      padding: 41px 40px 40px 40px;
      border-radius: 10px;
      border: 1px solid #eaeef0;
      max-width: 570px;
      @media #{$tab} {
        padding: 30px;
      }
      .refund_info_inner {
        display: flex;
        background: #f9f5ff;
        border: 1px solid #7f32fd;
        border-radius: 5px;
        padding: 27px 30px 30px 40px;
        align-items: center;
        grid-gap: 15px;
        @media #{$tab} {
          flex-wrap: wrap;
          padding: 25px;
        }
        .refund_info_inner_left {
          max-width: 236px;
          p {
            color: #676e8b;
            line-height: 1.71;
          }
        }
        .refund_info_inner_right {
        }
      }
    }
  }
}
