.infix_popular_restaurant {
  padding-bottom: 124px;
  &.style2 {
    padding-bottom: 116px;
    @media #{$tab} {
      padding-bottom: 37px;
    }
  }
  @media #{$tab} {
    padding-bottom: 37px;
  }
}

.restaurant_wiz {
  .thumb {
    margin-bottom: 20px;
    img {
      transform: scale(1);
      transition: 0.3s;
      width: 100%;
    }
  }
  h3 {
    font-size: 22px;
    font-weight: 700;
    color: $primary_color;
    transition: 0.3s;
    &:hover {
      color: $secondary_color;
    }
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.restaurent_grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 32px;
  @media #{$lg_device} {
    grid-template-columns: repeat(4, 1fr);
  }
  @media #{$tab2} {
    grid-template-columns: repeat(4, 1fr);
  }
  @media #{$small_mobile} {
    grid-template-columns: repeat(2, 1fr);
  }
}
