/* 1. Theme default css */

// new fonts

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularStd-Bold.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-Bold.woff") format("woff"),
    url("../fonts/CircularStd/CircularStd-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularSpotifyText-LightItalic.woff2")
      format("woff2"),
    url("../fonts/CircularStd/CircularSpotifyText-LightItalic.woff")
      format("woff"),
    url("../fonts/CircularStd/CircularSpotifyText-LightItalic.ttf")
      format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularStd-Black.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-Black.woff") format("woff"),
    url("../fonts/CircularStd/CircularStd-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularSpotifyText-LightItalic_1.woff2")
      format("woff2"),
    url("../fonts/CircularStd/CircularSpotifyText-LightItalic_1.woff")
      format("woff"),
    url("../fonts/CircularStd/CircularSpotifyText-LightItalic_1.ttf")
      format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularStd-Black_1.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-Black_1.woff") format("woff"),
    url("../fonts/CircularStd/CircularStd-Black_1.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularStd-BlackItalic.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-BlackItalic.woff") format("woff"),
    url("../fonts/CircularStd/CircularStd-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularSpotifyText-Light.woff2")
      format("woff2"),
    url("../fonts/CircularStd/CircularSpotifyText-Light.woff") format("woff"),
    url("../fonts/CircularStd/CircularSpotifyText-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularSpotifyText-Light_1.woff2")
      format("woff2"),
    url("../fonts/CircularStd/CircularSpotifyText-Light_1.woff") format("woff"),
    url("../fonts/CircularStd/CircularSpotifyText-Light_1.ttf")
      format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularStd-BlackItalic_1.woff2")
      format("woff2"),
    url("../fonts/CircularStd/CircularStd-BlackItalic_1.woff") format("woff"),
    url("../fonts/CircularStd/CircularStd-BlackItalic_1.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/CircularStd/CircularStd-Book.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-Book.woff") format("woff"),
    url("../fonts/CircularStd/CircularStd-Book.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularStd-Medium.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-Medium.woff") format("woff"),
    url("../fonts/CircularStd/CircularStd-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/CircularStd/CircularStd-Book_1.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-Book_1.woff") format("woff"),
    url("../fonts/CircularStd/CircularStd-Book_1.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularStd-Medium_1.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-Medium_1.woff") format("woff"),
    url("../fonts/CircularStd/CircularStd-Medium_1.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularStd-MediumItalic.woff2")
      format("woff2"),
    url("../fonts/CircularStd/CircularStd-MediumItalic.woff") format("woff"),
    url("../fonts/CircularStd/CircularStd-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/CircularStd/CircularStd-BookItalic.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-BookItalic.woff") format("woff"),
    url("../fonts/CircularStd/CircularStd-BookItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularStd-MediumItalic_1.woff2")
      format("woff2"),
    url("../fonts/CircularStd/CircularStd-MediumItalic_1.woff") format("woff"),
    url("../fonts/CircularStd/CircularStd-MediumItalic_1.ttf")
      format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularStd-BoldItalic.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-BoldItalic.woff") format("woff"),
    url("../fonts/CircularStd/CircularStd-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std Book";
  src: url("../fonts/CircularStd/CircularStd-BookItalic_1.woff2")
      format("woff2"),
    url("../fonts/CircularStd/CircularStd-BookItalic_1.woff") format("woff"),
    url("../fonts/CircularStd/CircularStd-BookItalic_1.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularStd-Bold_1.woff2") format("woff2"),
    url("../fonts/CircularStd/CircularStd-Bold_1.woff") format("woff"),
    url("../fonts/CircularStd/CircularStd-Bold_1.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd/CircularStd-BoldItalic_1.woff2")
      format("woff2"),
    url("../fonts/CircularStd/CircularStd-BoldItalic_1.woff") format("woff"),
    url("../fonts/CircularStd/CircularStd-BoldItalic_1.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: $font1;
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  color: $body_text;
}
.img {
  max-width: 100%;
  @include transition(0.3s);
}
a {
  text-decoration: none;
}
a,
.button,
button {
  @include transition(0.3s);
}
a:focus,
.button:focus,
button:focus {
  text-decoration: none;
  outline: none;
}
a:focus {
  text-decoration: none;
}
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
  text-decoration: none;
  // color: #000;
}
input:focus,
button:focus {
  outline: none;
}
a,
button {
  outline: medium none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font1;
  color: $primary_color;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h4 {
  font-size: 20px;
  line-height: 25px;
}

ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
  color: $body_text;
  margin-bottom: 0;
  font-family: $font1;
}

label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
*::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
*::-webkit-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}
*::-ms-input-placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}
*::placeholder {
  color: #cccccc;
  font-size: 14px;
  opacity: 1;
}

/* button style */
.owl-carousel {
  .owl-nav div {
    background: #fff;
    height: 30px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: -65px;
    right: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 30px;
    font-size: 12px;
    color: #090b17;
    @include border-radius(50%);
    border: 1px solid #e9e7f7;
  }
  .owl-nav {
    div {
      &.owl-next {
      }
      &.owl-prev {
        right: 40px;
      }
    }
  }
  &:hover {
    .owl-nav {
      div {
        opacity: 1;
        visibility: visible;
        &:hover {
          color: $white;
          background: $secondary_color;
          border-color: $secondary_color;
        }
      }
    }
  }
}

.mb-85 {
  margin-bottom: 85px;
  @media #{$small_mobile} {
    margin-bottom: 30px;
  }
  @media #{$medium_device} {
    margin-bottom: 30px;
  }
  @media #{$lg_device} {
    margin-bottom: 40px;
  }
}
.mb-65 {
  margin-bottom: 65px;
  @media #{$small_mobile} {
    margin-bottom: 20px;
  }
}
.mt-80 {
  margin-top: 80px;
}
.mb_6 {
  margin-bottom: 6px;
}
.mb_10 {
  margin-bottom: 10px;
}
.mb_12 {
  margin-bottom: 12px;
}
.mb_15 {
  margin-bottom: 15px;
}
.mb_18 {
  margin-bottom: 18px;
}
.mb_20 {
  margin-bottom: 20px;
}
.mb_23 {
  margin-bottom: 23px;
}
.mb_24 {
  margin-bottom: 24px;
}
.mb_25 {
  margin-bottom: 25px;
}
.mb_27 {
  margin-bottom: 27px;
}
.mb_30 {
  margin-bottom: 30px;
}
.mb_32 {
  margin-bottom: 32px;
}
.mb_35 {
  margin-bottom: 35px;
}
.mb_40 {
  margin-bottom: 40px;
}
.mb_42 {
  margin-bottom: 42px;
}
.mb_45 {
  margin-bottom: 45px;
}
.mb_37 {
  margin-bottom: 37px;
}
.mb_50 {
  margin-bottom: 50px;
}
.mb_52 {
  margin-bottom: 52px;
}
.mb_53 {
  margin-bottom: 53px;
}
.mb_55 {
  margin-bottom: 55px;
}
.mb_60 {
  margin-bottom: 60px;
}
.mb_65 {
  margin-bottom: 65px;
}
.mb_70 {
  margin-bottom: 70px;
}
.mb_76 {
  margin-bottom: 76px;
}
.mb_80 {
  margin-bottom: 80px;
}

.mt_10 {
  margin-top: 10px;
}
.mt_15 {
  margin-top: 15px;
}
.mt_20 {
  margin-top: 20px;
}
.mt_10 {
  margin-top: 10px;
}
.mt_30 {
  margin-top: 30px;
}
.mt_40 {
  margin-top: 40px;
}
.mt_50 {
  margin-top: 50px;
}
.mt_60 {
  margin-top: 60px;
}
.mt_70 {
  margin-top: 70px;
}

.mb_27 {
  margin-bottom: 27px;
}

.mr_5 {
  margin-right: 5px;
}
.mr_13 {
  margin-right: 13px;
}
.mr_15 {
  margin-right: 15px;
}
.mr_20 {
  margin-right: 20px;
}
.mr_30 {
  margin-right: 30px;
}
.mr_40 {
  margin-right: 40px;
}
.mr_50 {
  margin-right: 50px;
}
.mr_10 {
  margin-right: 10px;
}
.pt_70 {
  padding-top: 70px;
  @media #{$tab} {
    padding-top: 30px;
  }
}

.xl_mb_60 {
  @media #{$xl_device} {
    margin-bottom: 60px;
  }
  margin-bottom: 30px;
}

#back-top {
  position: fixed;
  right: 20px;
  bottom: 30px;
  cursor: pointer;
  z-index: 9999999;
  display: none;
  a {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    display: block;
    color: $white;
    line-height: 40px;
    background: $secondary_color;
    font-size: 15px;
    border-radius: 30px;
    @include transition(0.3s);
    @include box-shadow(0px 10px 20px 0px rgba(251, 17, 89, 0.3));
  }
}

.home_one {
  #back-top a {
    background: $secondary_color;
    @include box-shadow(0px 10px 20px 0px rgba($secondary_color, 0.3));
  }
}

// preloader

/*/ loader /*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9fdff;
  z-index: 99999;
  display: none;
  h3 {
    position: relative;
    font-size: 10vw;
    color: transparent;
    -webkit-text-stroke: 0.2vw $secondary_color;
    text-transform: capitalize;
    font-weight: 600;
    z-index: 0;
    &::before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      color: $secondary_color;
      -webkit-text-stroke: 0.2vw $secondary_color !important;
      border-right: 3px solid $secondary_color;
      overflow: hidden;
      animation: typeload 6s linear infinite;
      z-index: 9;
    }
  }
}
@keyframes typeload {
  0%,
  20%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.col-12 {
  @media #{$tab2} {
    position: relative;
  }
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.container,
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-right: 15px;
  padding-left: 15px;
}

.container {
  @media #{'(min-width: 1200px) '} {
    max-width: 1440px;
  }
}

.section_spacing {
  padding: 160px 0 126px 0;
  @media #{$tab} {
    padding: 70px 0 40px 0;
  }
}
.section_spacing2 {
  padding: 155px 0 160px 0;
  @media #{$tab} {
    padding: 65px 0 70px 0;
  }
}
.section_spacing3 {
  padding: 100px 0 95px 0;
  @media #{$tab} {
    padding: 50px 0 45px 0;
  }
}

.section_spacing4 {
  padding: 180px 0 160px 0;
  @media #{$tab} {
    padding: 120px 0 80px 0;
  }
}

.section_spacing5 {
  padding: 180px 0 155px 0;
  @media #{$tab} {
    padding: 130px 0 70px 0;
  }
}
.section_spacing6 {
  padding: 180px 0 130px 0;
  @media #{$tab} {
    padding: 130px 0 40px 0;
  }
}

// home 3 section
.home3_padding {
  padding: 88px 0 0px 0;
  @media #{$tab} {
    padding: 68px 0 0px 0;
  }
}
.home3_padding2 {
  padding: 58px 0 65px 0;
  @media #{$tab} {
    padding: 38px 0 45px 0;
  }
}
.home3_padding3 {
  padding: 100px 0 65px 0;
  @media #{$tab} {
    padding: 38px 0 45px 0;
  }
}

// home 4
.home4_padding {
  padding: 94px 0 62px 0;
  @media #{$tab} {
    padding: 68px 0 37px 0;
  }
}
.home4_padding2 {
  padding: 100px 0 69px 0;
  @media #{$tab} {
    padding: 75px 0 45px 0;
  }
}
.home4_padding3 {
  padding: 95px 0 60px 0;
  @media #{$tab} {
    padding: 68px 0 35px 0;
  }
}

// home 5
.home5_padding {
  padding: 130px 0 110px 0;
  @media #{$tab} {
    padding: 68px 0 46px 0;
  }
}

// home 6
.home6_padding {
  padding: 93px 0 64px 0;
  @media #{$tab} {
    padding: 68px 0 39px 0;
  }
}
.home6_padding2 {
  padding: 0px 0 70px 0;
  @media #{$tab} {
    padding: 0px 0 45px 0;
  }
}
.home6_padding3 {
  padding: 65px 0 70px 0;
  @media #{$tab} {
    padding: 40px 0 45px 0;
  }
}

// home 7
.home7_padding {
  padding: 55px 0 30px 0;
  @media #{$tab} {
    padding: 60px 0 30px 0;
  }
}
.home7_padding2 {
  padding: 55px 0 25px 0;
  @media #{$tab} {
    padding: 60px 0 25px 0;
  }
}
.home7_padding3 {
  padding: 0px 0 30px 0;
  @media #{$tab} {
    padding: 0px 0 30px 0;
  }
}

// home8
.home8_padding {
  padding: 150px 0 120px 0;
  @media #{$tab} {
    padding: 75px 0 40px 0;
  }
}
.home8_padding2 {
  padding: 141px 0 120px 0;
  @media #{$tab} {
    padding: 65px 0 40px 0;
  }
}

// home9
.home9_padding {
  padding: 110px 0 90px 0;
  @media #{$tab} {
    padding: 32px 0 34px 0;
  }
}
.home9_padding2 {
  padding: 140px 0 115px 0;
  @media #{$tab} {
    padding: 63px 0 34px 0;
  }
}
// home 10
.home10_padding {
  padding: 133px 0 105px 0;
  @media #{$tab} {
    padding: 63px 0 34px 0;
  }
}
.home10_padding2 {
  padding: 140px 0 110px 0;
  @media #{$tab} {
    padding: 70px 0 40px 0;
  }
}
.home10_padding3 {
  padding: 106px 0 110px 0;
  @media #{$tab} {
    padding: 35px 0 40px 0;
  }
}
.home10_padding4 {
  padding: 130px 0 110px 0;
  @media #{$tab} {
    padding: 70px 0 40px 0;
  }
}

.pt_120 {
  padding-top: 120px;
  @media #{$tab} {
    padding-top: 70px;
  }
}

.pb_120 {
  padding-bottom: 120px;
  @media #{$tab} {
    padding-bottom: 70px;
  }
}
.pt_110 {
  padding-top: 110px;
  @media #{$tab} {
    padding-top: 70px;
  }
}
.pt_113 {
  padding-top: 113px;
  @media #{$tab} {
    padding-top: 73px;
  }
}

.pb_110 {
  padding-bottom: 110px;
  @media #{$tab} {
    padding-bottom: 70px;
  }
}
.pb_113 {
  padding-bottom: 113px;
  @media #{$tab} {
    padding-bottom: 73px;
  }
}
.pt_100 {
  padding-top: 100px;
  @media #{$tab} {
    padding-top: 70px;
  }
}

.pb_100 {
  padding-bottom: 100px;
  @media #{$tab} {
    padding-bottom: 70px;
  }
}
.pt_90 {
  padding-top: 90px;
  @media #{$tab} {
    padding-top: 40px;
  }
}

.pb_90 {
  padding-bottom: 90px;
  @media #{$tab} {
    padding-bottom: 40px;
  }
}
.pb_85 {
  padding-bottom: 85px;
  @media #{$tab} {
    padding-bottom: 35px;
  }
}

.owl-dots {
  display: flex;
  justify-content: center;
  .owl-dot {
    margin: 0 5px;
    span {
      width: 10px;
      height: 10px;
      border-radius: 30px;
      background: #d9e3e3;
      display: inline-block;
      transition: 0.3s;
      &:hover {
        transform: scale(1.2);
      }
    }
    &.active {
      span {
        width: 30px;
      }
    }
  }
}
// font size
.font_10 {
  font-size: 10px;
}
.font_12 {
  font-size: 12px !important;
}
.font_14 {
  font-size: 14px !important;
}
.font_15 {
  font-size: 15px;
}
.font_16 {
  font-size: 16px;
}
.font_18 {
  font-size: 18px;
}
.font_20 {
  font-size: 20px;
}
.font_22 {
  font-size: 22px;
}
.font_25 {
  font-size: 25px;
}
.font_24 {
  font-size: 24px;
}
.font_30 {
  font-size: 30px;
  line-height: 45px;
  @media #{$tab} {
    font-size: 25px;
    line-height: 35px;
  }
}
.font_40 {
  font-size: 40px;
  line-height: 55px;
  @media #{$tab} {
    font-size: 25px;
    line-height: 35px;
  }
}
.font_45 {
  font-size: 45px;
}
.font_50 {
  font-size: 50px;
}
.font_60 {
  font-size: 60px;
}
.font_70 {
  font-size: 70px;
}
.font_80 {
  font-size: 80px;
}

// font weight
.f_w_300 {
  font-weight: 300;
}
.f_w_400 {
  font-weight: 400;
}
.f_w_500 {
  font-weight: 500;
}
.f_w_600 {
  font-weight: 600;
}
.f_w_700 {
  font-weight: 700;
}

.dot_devide {
  display: inline-block !important;
}

.secondary_text {
  color: $secondary_color !important;
}
.theme_text {
  color: $primary_color !important;
}
.theme_text2 {
  color: $body_text2 !important;
}
.theme_text3 {
  color: $primary_color !important;
}

.mute_text {
  color: #676e8b;
}
.font_1 {
  font-family: $font1;
}
.font_2 {
  font-family: $font1;
}

.theme_search_field {
  background: $white;
  height: 60px;
  border-radius: 5px;
  max-width: 450px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
  &.style2 {
    max-width: 570px;
  }
  .input-group-text {
    font-size: 18px;
    color: #ff1c5e;
    padding: 0 20px 0 10px;
    line-height: 100%;
    box-shadow: none !important;
    height: 60px;
    background: transparent;
    border: 0;
    &:hover {
      color: #ff1c5e;
    }
  }
  input {
    font-size: 14px;
    font-weight: 400;
    color: $primary_color;
    font-family: $font1;
    border: 0;
    background: transparent !important;
    height: 60px;
    padding: 0px 15px 0px 30px;
    box-shadow: none !important;
    line-height: 60px;
    &::placeholder {
      color: $body_text2;
    }
  }
  &.large_search_field {
    width: 500px;
    height: 60px;
    button {
      padding-left: 30px;
    }
    input {
      height: 60px;
      line-height: 60px;
    }
  }
}

// header style

// select style
.nice-select .list {
  background-color: #fff;
  color: #d1d1d1;
  z-index: 80;
  width: min-content;
  min-width: 100%;
  border-radius: 5px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.12);
  line-height: 32px;
  padding: 10px 0px;
  border: 0;
  li.option {
    color: #d1d1d1;
    visibility: visible;
    line-height: 32px;
    background: #fff;
    font-size: 15px;
    min-height: 32px;
    &:hover,
    &.selected,
    &.focus,
    &.selected.focus {
      color: #00124e;
      background: #fff;
    }
  }
}
.small_select {
  border: solid 1px #e9e7f7 !important;
  height: 35px;
  min-width: 180px;
  line-height: 34px;
  padding-left: 20px;
  &::after {
    right: 22px;
    top: 6px;
    color: #676e8b;
    font-size: 10px;
  }
  .current {
    font-family: $font1;
    font-size: 14px;
    font-weight: 500;
    color: #676e8b;
    line-height: 30px;
  }
  .list {
    width: 100%;
    .option {
      font-size: 14px;
      font-weight: 500;
    }
  }
}
.theme_select {
  border: solid 1px #ededed !important;
  height: 50px;
  line-height: 50px;
  border-radius: 0px;
  padding-left: 20px;
  &.select_transparent {
    background: transparent !important ;
  }
  &::after {
    right: 28px;
    top: 5px;
    color: #7f32fd;
    font-size: 14px;
  }
  .current {
    font-family: $font1;
    font-size: 14px;
    font-weight: 500;
    color: #676e8b;
    line-height: 50px;
  }
  .list {
    width: 100%;
    .option {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
.nowrap {
  white-space: nowrap;
}

.pagination_lists {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  li {
    &:not(:last-child) {
      margin-right: 10px;
    }
    a {
      width: 40px;
      height: 40px;
      display: inline-block;
      border: 1px solid #ebebeb;
      border-radius: 5px;
      flex: 40px 0 0;
      text-align: center;
      line-height: 40px;
      transition: 0.3s;
      font-size: 16px;
      color: #656565;
      font-weight: 600;
      &:hover {
        background: #fd1c5e;
        border-color: #fd1c5e;
        color: #fff;
      }
      &.active {
        background: #fd1c5e;
        border-color: #fd1c5e;
        color: #fff;
      }
    }
  }
}

.badge_1 {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  background: #fd1c5e;
  border-radius: 30px;
  padding: 4.5px 15px;
}
.badge_2 {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  display: inline-block;
  background: #33c922;
  border-radius: 30px;
  padding: 4.5px 15px;
}
.text_underline {
  text-decoration: underline !important;
}

.cursor_default {
  cursor: default !important;
}

.vertical_line {
  height: 15px;
  width: 1px;
  background: #707070;
  display: inline-block;
  &.dark_line {
    background: rgba(0, 0, 0, 0.1);
  }
  &.style2 {
    background: #f1f1f1;
    height: 15px;
  }

  &.style3 {
    background: rgba(241, 241, 241, 0.1);
    height: 15px;
  }
  &.style4 {
    background: #f1f1f1;
    height: 10px;
  }
  &.style5 {
    background: #3b3b3b;
    height: 15px;
  }
}
.vertical_line2 {
  height: 30px;
  width: 1px;
  background: #f1f1f1;
  display: inline-block;
  &.dark_line {
    background: rgba(0, 0, 0, 0.1);
  }
}
.horizontal_line {
  height: 1px;
  width: 30px;
  background: #f1f1f1;
  display: inline-block;
  &.opacity_2 {
    background: rgba(241, 241, 241, 0.2);
  }
}

.border_bottom1px {
  border-bottom: 1px solid #f3f3f3;
}

.border_1px {
  border: 1px solid #ededed;
}
.border2 {
  border: 1px solid #f3f3f3;
}
.border3 {
  border: 1px solid #e3e3e3;
}

.gap_10 {
  grid-gap: 10px;
}
.gap_15 {
  grid-gap: 15px;
}
.gap_20 {
  grid-gap: 20px;
}
.gap_30 {
  grid-gap: 30px;
}
.gap_25 {
  grid-gap: 25px;
}
.gap_40 {
  grid-gap: 40px;
}
.gap_r15 {
  grid-row-gap: 15px;
}
.gap_c40 {
  grid-column-gap: 40px;
}

.home2_deal_border {
  border: 2px solid #fd9a23;
  .col-xl-3 {
    .product_widget3 {
      margin-top: 0;
      margin: 0;
    }
  }
}

.fur_pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    font-size: 20px;
    font-weight: 600;
    color: $secondary_color;
    font-family: $font1;
    margin: 0 10px;
    display: inline-flex;
    align-items: center;
    &:hover,
    &.active {
      color: $secondary_color;
    }
    &:first-child {
      margin-right: 15px;
    }
    &:last-child {
      margin-left: 15px;
    }
  }
}

.mega_static {
  @media #{"(min-width: 992px)"} {
    position: static !important;
  }
}

// scrollbar css
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: transparent;
  width: 11px;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-x.ps--clicking .ps__thumb-x {
  background-color: transparent;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  background-color: transparent;
  opacity: 0;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0;
}

.list_disc {
  list-style: disc !important;
}
.list_disc {
  list-style: disc !important;
}

.flag_toggle {
  .toggle_btn {
    background: transparent;
    border: 0;
    display: flex;
    align-items: center;
    grid-gap: 10px;
    padding: 0 16px 0 0;
    color: $primary_color;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    font-family: $font1;
    height: 40px;
    &::before {
      position: absolute;
      right: 0;
      content: "\e64b";
      color: $primary_color;
      font-family: "themify";
      font-size: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  ul {
    background-color: #fff;
    color: #d1d1d1;
    z-index: 80;
    width: min-content;
    min-width: 100%;
    border-radius: 5px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.12);
    line-height: 32px;
    padding: 10px 0px;
    border: 0;
    li {
      button {
        color: #d1d1d1;
        visibility: visible;
        line-height: 32px;
        padding: 0px 20px;
        background: $white;
        font-size: 15px;
        &:hover {
          color: $primary_color;
          background: $white;
        }
      }
    }
  }
  &.style2 {
    .toggle_btn {
      padding: 0;
      &::before {
        display: none;
      }
      img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: 0 !important;
      }
    }
  }
}
.modal_570px {
  .modal-dialog {
    max-width: 570px;
  }
}
.modal_690px {
  .modal-dialog {
    max-width: 690px;
  }
}
.modal_930px {
  .modal-dialog {
    max-width: 930px;
  }
}
.modal_810px {
  .modal-dialog {
    max-width: 810px;
  }
}
.invite_modal {
  .close_modal {
    font-size: 14px;
    color: $secondary_color;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  .modal-body {
    padding: 31px 50px 50px 50px;
  }
}
