/* -------------------------------------------------------------------------- */
/*                             RTL scss style file                            */
/* -------------------------------------------------------------------------- */
html[dir="rtl"] {
  .header_area_one .main_header_area {
    padding: 0 50px 0 0px;
    @media #{$small_mobile} {
      padding: 0 15px 0 0px;
    }
  }
  .header_area_one .header_wrapper_right .single_header_info {
    border-right: 1px solid #eaeef0;
    border-left: 0;
  }
  .header_area_one .header_wrapper_right .address_serach_box .addressBtn {
    border-radius: 5px 0 0 5px;
  }
  .header_area_one
    .header_wrapper_right
    .address_serach_box
    .theme_search_field {
    border-radius: 0 5px 5px 0;
    border-right: 1px solid #f1f1f1;
    border-left: 0;
  }
  .theme_search_field input {
    padding: 0px 30px 0px 15px;
  }
  .header_area_one .header_wrapper_right .address_serach_box .addressBtn img {
    position: relative;
    transform: rotate(-180deg);
  }
  .social__Links {
    a {
      &:not(:last-child) {
        margin-right: 0;
        margin-left: 23px;
      }
    }
  }
  .shoping_wrapper .shoping_cart .shoping_cart_inner .popular_orders_acrousel {
    padding: 30px 40px 40px 0px;
  }
  .shoping_wrapper
    .shoping_cart
    .shoping_cart_inner
    .popular_orders_acrousel
    .owl-carousel
    .owl-stage {
    padding-left: 60px !important;
    padding-right: 0 !important;
  }
  .mr_5 {
    margin-right: 0;
    margin-left: 5px;
  }
  .shoping_wrapper .shoping_cart {
    left: 0;
    right: auto;
  }
  .infix_feature_area .featuire_thumb {
    @media #{$tab} {
      margin-right: 0px;
      margin-left: 30px;
    }
    @media #{$medium_device} {
      margin-right: 0px;
      margin-left: 60px;
    }
    @media #{$lg_device} {
      margin-right: 0px;
      margin-left: 60px;
    }
  }
  .theme_search_field .input-group-text {
    padding: 0 10px 0 20px;
  }
  .mr_15 {
    margin-right: 0;
    margin-left: 15px;
  }
  .product_details_area .product_meta .raing_box .raing_box_inner {
    margin-right: 0;
    margin-left: 15px;
  }
  .invite_modal .close_modal {
    left: 20px;
    right: auto;
  }
  .infix_foodMOdal .close_modal {
    right: auto;
    left: 20px;
  }
  .review_wrapper_wiz
    .single_reviews
    .review_content
    .rated_customer
    .feedmak_stars {
    margin-right: 0;
    margin-left: 15px;
  }
  .infix_cartModal .close_modal {
    right: auto;
    left: 20px;
  }
  .product_wized .thumb .product_tag {
    left: auto;
    right: 0;
  }
  .product_wized .thumb .date_tag {
    right: auto;
    left: 0;
  }
  .header_area_one .header_wrapper_right .address_serach_box {
    left: auto;
    right: 0;
  }
  .address_box_view .address_box_right {
    left: 20px;
    right: auto;
  }
  .checout_body_info .address_quote::before {
    left: auto;
    right: 0;
  }
  .checkout_according .card .card-header h5 button {
    padding: 35px 40px 15px 25px;
  }
  .checkout_according .card .card-header h5 button.collapsed {
    padding: 15px 40px 15px 40px;
  }
  .mr_13 {
    margin-right: 0;
    margin-left: 13px;
  }
  .header_area_one .header_wrapper_right .single_header_info {
    @media #{$tab} {
      padding: 0 15px;
    }
  }
  .header_area_one .header_wrapper_right .admin_use_info .admin_dropdown {
    @media #{$tab} {
      right: auto;
      left: -55px;
    }
  }
  .address_box_view {
    @media #{$small_mobile} {
      padding: 60px 30px 30px 30px;
    }
  }
  .voucher_list_left .round_checkbox {
    margin: 0 !important;
  }
  .voucher_modal .close_modal {
    left: 20px;
    right: auto;
  }
  .theme_according .card .card-header h5 button {
    padding: 11.5px 30px 13px 30px;
  }
  .theme_according button::before {
    left: auto;
    right: 5px;
  }
  .primary_checkbox input:checked ~ .checkmark::before {
    left: 5px;
  }
  .theme_modal
    .catting_wrapper
    .catting_wrapper_body
    .single_catting_box.reply_img {
    margin-right: auto;
    margin-left: 0;
  }
  .variation_list .round_checkbox2 {
    margin: 0;
  }
  .primary_input3 {
    text-align: right;
  }
  .product_wized .product_meta .raing_box .raing_box_inner {
    margin-right: 0;
    margin-left: 15px;
  }
  .banner_one .banner_single .banner__text h3 {
    max-width: 600px;
  }
  .banner_two .banner_single .banner__text h3 {
    max-width: 600px;
  }
}
