.infix_subscribe_area {
  background: $secondary_color;
  padding: 100px 0 95px 0;
  @media #{$tab} {
    padding: 70px 0;
  }
  .infix_subscribe_box {
    display: grid;
    align-items: center;
    grid-gap: 30px 100px;
    grid-template-columns: 393px auto;
    @media #{$tab} {
      grid-template-columns: auto;
    }
    @media #{$medium_device} {
      grid-template-columns: auto;
    }
    .infix_subscribe_text {
      h3 {
        font-size: 40px;
        color: $white;
        line-height: 1.28;
        margin-bottom: 7px;
      }
      p {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.75;
        color: $white;
        margin-bottom: 0;
      }
    }
    .infix_subscribe_form {
      display: flex;
      grid-gap: 10px;
      max-width: 530px;
      @media #{$tab} {
        flex-wrap: wrap;
      }
    }
  }
}
