// home title 1

.section__title {
  .sub_heading {
    font-size: 12px;
    font-weight: 500;
    font-family: $font1;
    color: $primary_color;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 17px;
  }
  .heading {
    font-family: $font1;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.27;
    color: $primary_color;
    @media #{$tab} {
      font-size: 30px;
    }
  }
  &.mb_55 {
    @media #{$tab} {
      margin-bottom: 30px;
    }
  }
}
