.vouchers_area {
  padding: 180px 0 151px 0;
  @media #{$tab} {
    padding: 120px 0 70px 0;
  }
  .voucher_title {
    border-bottom: 1px solid #eaeef0;
    margin-bottom: 27px;
    h3 {
      margin-bottom: 14px;
    }
  }
}
.voucher_wrapper {
  .single_voucher {
    &:not(:last-child) {
      border-bottom: 1px solid #eaeef0;
      padding-bottom: 25px;
      margin-bottom: 33px;
    }
    .voucher_content {
      h4 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 0;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        color: $body_text;
        &.date_voucher {
          margin: 4px 0 2px 0;
        }
        &.order_text {
        }
      }
    }
    .prise_text {
      font-size: 14px;
      color: $secondary_color;
      font-weight: 400;
    }
  }
}
